app/article-page.jade
extends templates/layouts/_default

block head
    - pageTitle = 'Cyber sports gaming';

block content

  .min-section__wr.section-2__wr
    .container
      .video__wr
        .vide-player
          .btn-play.btn-square.btn-danger
            //- i.sprite-arrow-right
            i.fa.fa-caret-right
          .btn-right-bottom.soc-btn-group
            include templates/blocks/_soc-btn-group

  .min-section__wr#top
    .container
      article.article
        header.article__header.header_top-line.header_top-line-min
          .row
            .col-xs-6
              p.article__tag CS:GO NEWS
            .col-xs-6
              time.article__public-time March 10, 2015 9:30AM

          h1.article__title dvsion announces news league
          h2.article__title-min After a succesful start, Dvsion is ready to launch its newest league

          .article__nav.clearfix.js-article__nav_fixed
            .article__nav-container
              .article__nav_left
                .article__author
                  .article__author-photo
                    img(src="img/autor-photo.jpg", alt="").img-responsive
                  .article__author-name
                    .vertical-center
                      | Jane 
                      span.other-color DuhB0mb 
                      | Doe
                      .article__author-position dvsion writer
              a(href="").article__nav_right
                .article__next-arrow
                  span.sprite.sprite-arrow-right-gr
                .vertical-center__wr.article__next-title-group
                  .vertical-center
                    .article__next-title desi out for grand finals
                    .article__next-title-min previous article
              .article__nav_center
                .article__read-more-wr
                  a(href="#top").vertical-center read more

        .article-body
          .article-aside
            .article-aside__min-section
              a(href="").article-aside__link-more more cs:go news
            a(href="").article-aside__min-section
              .article-aside__min-section-photo
                img(src="http://dummyimage.com/120x120/4d494d/686a82.gif&text=placeholder+image" alt="placeholder+image").img-responsive
              .article-aside__min-section-title-wr
                .article-aside__min-section-title
                  .article-aside__min-section-title-big desi out for grand finals
                  .article-aside__min-section-title-min Who will step in to take his spot?
            a(href="").article-aside__min-section
              .article-aside__min-section-photo
                img(src="http://dummyimage.com/120x120/4d494d/686a82.gif&text=placeholder+image" alt="placeholder+image").img-responsive
              .article-aside__min-section-title-wr
                .article-aside__min-section-title
                  .article-aside__min-section-title-big some other article about other things
                  .article-aside__min-section-title-min Who will step in to take his spot?
            a(href="").article-aside__min-section
              .article-aside__min-section-photo
                img(src="http://dummyimage.com/120x120/4d494d/686a82.gif&text=placeholder+image" alt="placeholder+image").img-responsive
              .article-aside__min-section-title-wr
                .article-aside__min-section-title
                  .article-aside__min-section-title-big desi out for grand finals
                  .article-aside__min-section-title-min Who will step in to take his spot?
            a(href="").article-aside__min-section
              .article-aside__min-section-photo
                img(src="http://dummyimage.com/120x120/4d494d/686a82.gif&text=placeholder+image" alt="placeholder+image").img-responsive
              .article-aside__min-section-title-wr
                .article-aside__min-section-title
                  .article-aside__min-section-title-big desi out for grand finals
                  .article-aside__min-section-title-min Who will step in to take his spot?
          .article-content
            .table-title March 9, 2015 4:00PM EST
              span de_inferno
            table
              tbody
                tr
                  td(rowspan="2" width="140" style="text-align: center") COMPLETE BOX SCORE
                  td CLOUD 9
                  td(width="70" style="color: #c64628; font-size: 34px; font-weight: 900; text-align: center") 8 
                tr
                  td FNATIC
                  td(width="70" style="color: #96be5c; font-size: 34px; font-weight: 900; text-align: center") 16
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sed tristique orci. Phasellus ut eleifend risus. Aliquam orci enim, commodo eget odio ac, aliquet fringilla eros. Nam urna nisi, venenatis eget mattis sit amet, pharetra sit amet felis. Donec cursus egestas ipsum, hendrerit vehicula orci dignissim ac. Cras at sagittis augue. Praesent porta efficitur velit, nec malesuada urna pharetra in. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Quisque vehicula porta lacinia. Suspendisse eget ligula eu risus semper pulvinar. Praesent sit amet feugiat lorem. Nullam non lorem vitae libero rutrum tincidunt ut non ante. Mauris mollis, ex at 
              a(href="") scelerisque
              |  consequat, augue elit sollicitudin eros, quis pulvinar mauris libero tempor diam. Donec pharetra lorem nec ipsum malesuada tristique. Mauris aliquam nibh posuere libero malesuada, sed scelerisque sapien ultricies. Sed imperdiet semper leo quis pellentesque.
            p Nunc ullamcorper rutrum enim, ut rhoncus ligula convallis eget. Nulla facilisis dolor et sem sollicitudin semper. Mauris scelerisque posuere libero nec vestibulum. Nunc egestas risus a ante sagittis, a pretium nibh ullamcorper. Integer ac tempus nibh. Aenean mollis tellus eget dignissim condimentum. Fusce sit amet tempus sapien, vitae vehicula dolor. Nunc iaculis pretium justo a pellentesque. Donec molestie ante nec est ultricies rhoncus. Duis a vehicula tellus.
            p Ut vel ante eget quam finibus consequat eget ac lacus. Vestibulum metus libero, pulvinar et ex ac, luctus bibendum dui. Donec vel vulputate turpis, et blandit lorem. Ut finibus, turpis et eleifend facilisis, ligula lorem lobortis tellus, et ullamcorper augue odio id neque. Vestibulum ut magna vitae erat volutpat lobortis id nec dolor. Vestibulum vel lectus purus. Ut interdum commodo augue, non ullamcorper est sodales consectetur. Praesent gravida auctor eleifend. Aliquam erat volutpat. In posuere urna ut arcu aliquam efficitur.

            img(src="http://dummyimage.com/950x540/4d494d/686a82.gif&text=placeholder+image" alt="placeholder+image")

            p Ut vel ante eget quam finibus consequat eget ac lacus. Vestibulum metus libero, pulvinar et ex ac, luctus bibendum dui. Donec vel vulputate turpis, et blandit lorem. Ut finibus, turpis et eleifend facilisis, ligula lorem lobortis tellus, et ullamcorper augue odio id neque. Vestibulum ut magna vitae erat volutpat lobortis id nec dolor. Vestibulum vel lectus purus. Ut interdum commodo augue, non ullamcorper est sodales consectetur. Praesent gravida auctor eleifend. Aliquam erat volutpat. In posuere urna ut arcu aliquam efficitur.

            p Etiam tempor maximus nunc sit amet pharetra. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Duis convallis mi eget convallis lobortis. Vivamus a mi nisi. Nunc semper condimentum mi, congue vehicula metus viverra a. Aliquam at mi tellus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tincidunt dui libero, eget ultricies massa interdum nec. Mauris elementum ultricies nisl eget consequat. In sollicitudin libero id lorem tempus varius quis a metus. cursus sem a cursus rhoncus. Mauris faucibus ante sit amet dui iaculis, a egestas lorem egestas. Curabitur sed lorem imperdiet, placerat turpis quis, volutpat urna.

dist/article-page.html
<!DOCTYPE html><!--[if IE 9]>
<html class="no-js lt-ie10" lang="en">
<![endif]-->
<!--[if gt IE 8]><!-->
<html lang="" class="no-js"><!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="favicon/favicon.ico" type="web/image/pngIllegal return statement">
    <link rel="icon" type="image/png" href="favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="favicon/favicon-16x16.png" sizes="16x16">
    <title>Cyber sports gaming</title>
    <meta name="description">
    <meta name="keywords">
    <meta name="copyright">
    <link rel="stylesheet" href="css/vendor.css">
    <link rel="stylesheet" href="css/main.css">
    
    <script src="scripts/vendor.js"></script>
    <script src="scripts/main.js"></script>
  </head>
  <body>
    <!-- Header-->
    <header class="main-header">
      <div class="main-header__inner">
        <div class="container">
          <div class="row row_without-padding header__container-inner">
            <div class="col-xs-7 header__left-menu-wr">
              <div class="btn-menu js-dd-btn pull-left">
                <div class="navicon-line navicon-line_top"></div>
                <div class="navicon-line"></div>
                <div class="navicon-line navicon-line_hedden"></div>
              </div>
              <h1 class="logo__wr"><a href="index.html"><img src="img/logo.png" alt="logo.png" class="img-responsive"></a></h1>
            </div>
            <div class="col-xs-5">
              <div class="pull-right">
                <div class="header__login-block">
                  <div class="user__log-out">
                    <ul>
                      <li><a href="" data-toggle="modal" data-target=".login-modal">login</a></li>
                      <li><a href="">join</a></li>
                    </ul>
                  </div>
                  <div class="user__log-in hidden"><a href="" class="header__user-name">user name</a>
                    <div class="header__user-avatar"><img src="img/user-avatar-none.jpg" alt="" class="img-responsive">
                      <!-- img(src="img/user-avatar.jpg", alt="").img-responsive-->
                    </div>
                  </div>
                </div>
                <form id="" method="" action="" class="header__search-form">
                  <div class="search-form__input-group"><span class="search-form__input-group-btn">
                      <button type="button" class="btn-search btn btn-danger btn-lg"><i class="fa fa-search"></i>
                      </button></span><span class="search-form__input-group-input">
                      <input type="text" placeholder="Searchable" class="form-control input-lg"></span></div>
                </form>
              </div>
            </div>
          </div>
          <nav class="main-nav js-dd">
            <ul>
              <li><a href="">league</a></li>
              <li><a href="">watch</a></li>
              <li><a href="">stats</a></li>
              <li><a href="">about</a></li>
              <li><a href="">sponsors</a></li>
              <li><a href="">forum</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <!-- end Header-->
    <!-- Main content-->
    <main class="main-block">
      <div class="min-section__wr section-2__wr">
        <div class="container">
          <div class="video__wr">
            <div class="vide-player">
              <div class="btn-play btn-square btn-danger"><i class="fa fa-caret-right"></i>
              </div>
              <div class="btn-right-bottom soc-btn-group">
                <ul class="soc-btn-group__list js-soc-dd">
                  <li><a href=""><i class="fa fa-facebook"></i></a></li>
                  <li><a href=""><i class="fa fa-twitter"></i></a></li>
                  <li><a href=""><i class="fa fa-comment"></i></a></li>
                </ul>
                <div class="btn-square btn-danger js-soc-btn"><i class="sprite-plus"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="top" class="min-section__wr">
        <div class="container">
          <article class="article">
            <header class="article__header header_top-line header_top-line-min">
              <div class="row">
                <div class="col-xs-6">
                  <p class="article__tag">CS:GO NEWS</p>
                </div>
                <div class="col-xs-6">
                  <time class="article__public-time">March 10, 2015 9:30AM</time>
                </div>
              </div>
              <h1 class="article__title">dvsion announces news league</h1>
              <h2 class="article__title-min">After a succesful start, Dvsion is ready to launch its newest league</h2>
              <div class="article__nav clearfix js-article__nav_fixed">
                <div class="article__nav-container">
                  <div class="article__nav_left">
                    <div class="article__author">
                      <div class="article__author-photo"><img src="img/autor-photo.jpg" alt="" class="img-responsive"></div>
                      <div class="article__author-name">
                        <div class="vertical-center">Jane <span class="other-color">DuhB0mb </span>Doe
                          <div class="article__author-position">dvsion writer</div>
                        </div>
                      </div>
                    </div>
                  </div><a href="" class="article__nav_right">
                    <div class="article__next-arrow"><span class="sprite sprite-arrow-right-gr"></span></div>
                    <div class="vertical-center__wr article__next-title-group">
                      <div class="vertical-center">
                        <div class="article__next-title">desi out for grand finals</div>
                        <div class="article__next-title-min">previous article</div>
                      </div>
                    </div></a>
                  <div class="article__nav_center">
                    <div class="article__read-more-wr"><a href="#top" class="vertical-center">read more</a></div>
                  </div>
                </div>
              </div>
            </header>
            <div class="article-body">
              <div class="article-aside">
                <div class="article-aside__min-section"><a href="" class="article-aside__link-more">more cs:go news</a></div><a href="" class="article-aside__min-section">
                  <div class="article-aside__min-section-photo"><img src="http://dummyimage.com/120x120/4d494d/686a82.gif&amp;text=placeholder+image" alt="placeholder+image" class="img-responsive"></div>
                  <div class="article-aside__min-section-title-wr">
                    <div class="article-aside__min-section-title">
                      <div class="article-aside__min-section-title-big">desi out for grand finals</div>
                      <div class="article-aside__min-section-title-min">Who will step in to take his spot?</div>
                    </div>
                  </div></a><a href="" class="article-aside__min-section">
                  <div class="article-aside__min-section-photo"><img src="http://dummyimage.com/120x120/4d494d/686a82.gif&amp;text=placeholder+image" alt="placeholder+image" class="img-responsive"></div>
                  <div class="article-aside__min-section-title-wr">
                    <div class="article-aside__min-section-title">
                      <div class="article-aside__min-section-title-big">some other article about other things</div>
                      <div class="article-aside__min-section-title-min">Who will step in to take his spot?</div>
                    </div>
                  </div></a><a href="" class="article-aside__min-section">
                  <div class="article-aside__min-section-photo"><img src="http://dummyimage.com/120x120/4d494d/686a82.gif&amp;text=placeholder+image" alt="placeholder+image" class="img-responsive"></div>
                  <div class="article-aside__min-section-title-wr">
                    <div class="article-aside__min-section-title">
                      <div class="article-aside__min-section-title-big">desi out for grand finals</div>
                      <div class="article-aside__min-section-title-min">Who will step in to take his spot?</div>
                    </div>
                  </div></a><a href="" class="article-aside__min-section">
                  <div class="article-aside__min-section-photo"><img src="http://dummyimage.com/120x120/4d494d/686a82.gif&amp;text=placeholder+image" alt="placeholder+image" class="img-responsive"></div>
                  <div class="article-aside__min-section-title-wr">
                    <div class="article-aside__min-section-title">
                      <div class="article-aside__min-section-title-big">desi out for grand finals</div>
                      <div class="article-aside__min-section-title-min">Who will step in to take his spot?</div>
                    </div>
                  </div></a>
              </div>
              <div class="article-content">
                <div class="table-title">March 9, 2015 4:00PM EST<span>de_inferno</span></div>
                <table>
                  <tbody>
                    <tr>
                      <td rowspan="2" width="140" style="text-align: center">COMPLETE BOX SCORE</td>
                      <td>CLOUD 9</td>
                      <td width="70" style="color: #c64628; font-size: 34px; font-weight: 900; text-align: center">8 </td>
                    </tr>
                    <tr>
                      <td>FNATIC</td>
                      <td width="70" style="color: #96be5c; font-size: 34px; font-weight: 900; text-align: center">16</td>
                    </tr>
                  </tbody>
                </table>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sed tristique orci. Phasellus ut eleifend risus. Aliquam orci enim, commodo eget odio ac, aliquet fringilla eros. Nam urna nisi, venenatis eget mattis sit amet, pharetra sit amet felis. Donec cursus egestas ipsum, hendrerit vehicula orci dignissim ac. Cras at sagittis augue. Praesent porta efficitur velit, nec malesuada urna pharetra in. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Quisque vehicula porta lacinia. Suspendisse eget ligula eu risus semper pulvinar. Praesent sit amet feugiat lorem. Nullam non lorem vitae libero rutrum tincidunt ut non ante. Mauris mollis, ex at <a href="">scelerisque</a> consequat, augue elit sollicitudin eros, quis pulvinar mauris libero tempor diam. Donec pharetra lorem nec ipsum malesuada tristique. Mauris aliquam nibh posuere libero malesuada, sed scelerisque sapien ultricies. Sed imperdiet semper leo quis pellentesque.</p>
                <p>Nunc ullamcorper rutrum enim, ut rhoncus ligula convallis eget. Nulla facilisis dolor et sem sollicitudin semper. Mauris scelerisque posuere libero nec vestibulum. Nunc egestas risus a ante sagittis, a pretium nibh ullamcorper. Integer ac tempus nibh. Aenean mollis tellus eget dignissim condimentum. Fusce sit amet tempus sapien, vitae vehicula dolor. Nunc iaculis pretium justo a pellentesque. Donec molestie ante nec est ultricies rhoncus. Duis a vehicula tellus.</p>
                <p>Ut vel ante eget quam finibus consequat eget ac lacus. Vestibulum metus libero, pulvinar et ex ac, luctus bibendum dui. Donec vel vulputate turpis, et blandit lorem. Ut finibus, turpis et eleifend facilisis, ligula lorem lobortis tellus, et ullamcorper augue odio id neque. Vestibulum ut magna vitae erat volutpat lobortis id nec dolor. Vestibulum vel lectus purus. Ut interdum commodo augue, non ullamcorper est sodales consectetur. Praesent gravida auctor eleifend. Aliquam erat volutpat. In posuere urna ut arcu aliquam efficitur.</p><img src="http://dummyimage.com/950x540/4d494d/686a82.gif&amp;text=placeholder+image" alt="placeholder+image">
                <p>Ut vel ante eget quam finibus consequat eget ac lacus. Vestibulum metus libero, pulvinar et ex ac, luctus bibendum dui. Donec vel vulputate turpis, et blandit lorem. Ut finibus, turpis et eleifend facilisis, ligula lorem lobortis tellus, et ullamcorper augue odio id neque. Vestibulum ut magna vitae erat volutpat lobortis id nec dolor. Vestibulum vel lectus purus. Ut interdum commodo augue, non ullamcorper est sodales consectetur. Praesent gravida auctor eleifend. Aliquam erat volutpat. In posuere urna ut arcu aliquam efficitur.</p>
                <p>Etiam tempor maximus nunc sit amet pharetra. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Duis convallis mi eget convallis lobortis. Vivamus a mi nisi. Nunc semper condimentum mi, congue vehicula metus viverra a. Aliquam at mi tellus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tincidunt dui libero, eget ultricies massa interdum nec. Mauris elementum ultricies nisl eget consequat. In sollicitudin libero id lorem tempus varius quis a metus. cursus sem a cursus rhoncus. Mauris faucibus ante sit amet dui iaculis, a egestas lorem egestas. Curabitur sed lorem imperdiet, placerat turpis quis, volutpat urna.</p>
              </div>
            </div>
          </article>
        </div>
      </div>
    </main>
    <!-- end main Content-->
    <!-- Footer-->
    <footer class="main-footer">
      <div class="container">
        <div class="footer__top clearfix">
          <div class="footer__logo-wr"><img src="img/logo-footer.png" alt="" class="img-responsive"></div>
          <div class="footer__main-nav-wr">
            <nav class="footer__main-nav">
              <ul>
                <li><a href="">league</a></li>
                <li><a href="">watch</a></li>
                <li><a href="">stats</a></li>
                <li><a href="">about</a></li>
                <li><a href="">sponsors</a></li>
                <li><a href="">forum</a></li>
              </ul>
            </nav>
            <div class="row footer__other-links-wr">
              <div class="col-xs-3">
                <h3 class="footer-links-menu__title">about us</h3>
                <ul class="footer-links-menu__list">
                  <li><a href="">our mission</a></li>
                  <li><a href="">our team</a></li>
                  <li><a href="">our partners</a></li>
                  <li><a href="">our projects</a></li>
                </ul>
              </div>
              <div class="col-xs-3">
                <h3 class="footer-links-menu__title">partnership</h3>
                <ul class="footer-links-menu__list">
                  <li><a href="">press kit</a></li>
                  <li><a href="">sponsor kit</a></li>
                  <li><a href="">advertisement</a></li>
                  <li><a href="">team@divsionesports.com</a></li>
                </ul>
              </div>
              <div class="col-xs-3">
                <h3 class="footer-links-menu__title">careers</h3>
                <ul class="footer-links-menu__list">
                  <li><a href="">job openings</a></li>
                  <li><a href="">moderator application</a></li>
                  <li><a href="">jobs@divsionesports.com</a></li>
                </ul>
              </div>
              <div class="col-xs-3">
                <h3 class="footer-links-menu__title">contact us</h3>
                <ul class="footer-links-menu__list">
                  <li><a href="mailto:info@divsionesports.com">info@divsionesports.com</a></li>
                  <li>1 800 555 1234</li>
                  <li><strong>Dvsion Esports</strong><br>123 Main St.<br>City, ST, 01234</li>
                </ul>
              </div>
            </div>
            <div class="footer-soc-menu">
              <ul>
                <li><a href=""><i class="soc-icon fa fa-twitch"></i></a></li>
                <li><a href=""><i class="soc-icon fa fa-twitter"></i></a></li>
                <li><a href=""><i class="soc-icon fa fa-facebook"></i></a></li>
                <li><a href=""><i class="soc-icon fa fa-steam"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer__bottom">
          <div class="row">
            <div class="col-xs-7">
              <p class="copyright-block"><span class="copyright-block__main-text">dvsion e-sports </span>copyright © 2014-2015 all rights reserved</p>
            </div>
            <div class="col-xs-5 text-right">
              <ul class="footer-bottom__list-nav">
                <li><a href="">Terms of Use</a></li>
                <li><a href="">Privacy Policy</a></li>
                <li><a href="">DMCA Policy</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <div tabindex="-1" role="dialog" class="modal fade login-modal">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header header_top-line">
            <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true"><i class="sprite-close-black"></i></span></button>
            <h4 id="loginModalLabel" class="modal-title"><span class="modal-title-importnat-text">login</span>/register</h4>
          </div>
          <div class="modal-body">
            <form action="" class="login-form">
              <!-- .form-group-lg.has-success.has-feedback-->
              <div class="form-group-margin">
                <div class="form-group-lg form-group__d-tb">
                  <div class="input-group input-group-addon__wr"><span class="input-group-addon"><i class="sprite-user"></i></span>
                    <input type="text" aria-describedby="" placeholder="Login" class="form-control">
                  </div>
                  <!-- span.glyphicon.glyphicon-ok.form-control-feedback(aria-hidden='true')-->
                </div>
                <div class="form-group-lg form-group__d-tb has-error has-feedback">
                  <div class="input-group input-group-addon__wr"><span class="input-group-addon"><i class="sprite-lock-selected"></i></span>
                    <input type="password" aria-describedby="" placeholder="Password" class="form-control">
                  </div><span class="glyphicon glyphicon-remove form-control-feedback tooltip__wr"><span class="form-control__tooltip">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</span></span>
                </div>
              </div>
              <div class="form-group-margin clearfix">
                <div class="checkbox_custom remember-checkbox">
                  <input type="checkbox" value="option1" id="ch1">
                  <label for="ch1">Remember me</label>
                </div><a href="" class="lose-password-link">Lost your password?</a>
              </div>
              <div class="clearfix">
                <button type="button" data-toggle="modal" class="btn btn-default btn-lg pull-left modal-btn-success-hover modal-btn">login</button>
                <button type="button" data-toggle="modal" data-target=".registration-modal" class="btn btn-default btn-lg pull-right modal-btn-danger-hover modal-btn">register</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div tabindex="-1" role="dialog" class="modal fade registration-modal">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header header_top-line">
            <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true"><i class="sprite-close-black"></i></span></button>
            <h4 id="registrationModalLabel" class="modal-title">
              <div class="row">
                <div class="col-xs-6"><span class="modal-title-importnat-text">register</span>/sign up</div>
                <div class="col-xs-6"><span class="modal-title-importnat-text">why divsion?</span></div>
              </div>
            </h4>
          </div>
          <div class="modal-body">
            <form action="" class="login-form form-horizontal">
              <div class="row registration__form-wr">
                <div class="col-xs-6">
                  <div class="form-group-margin">
                    <div class="form-group-lg form-group__d-tb has-success has-feedback">
                      <div class="input-group input-group-addon__wr"><span class="input-group-addon"><i class="sprite-user"></i></span>
                        <input type="text" aria-describedby="" placeholder="Login" class="form-control">
                      </div><span aria-hidden="true" class="glyphicon glyphicon-ok form-control-feedback"></span>
                    </div>
                    <div class="form-group-lg form-group__d-tb has-success has-feedback">
                      <div class="input-group input-group-addon__wr"><span class="input-group-addon"><i class="sprite-lock"></i></span>
                        <input type="password" aria-describedby="" placeholder="PASSWORD" class="form-control">
                      </div><span aria-hidden="true" class="glyphicon glyphicon-ok form-control-feedback"></span>
                    </div>
                    <div class="form-group-lg form-group__d-tb has-success has-feedback">
                      <div class="input-group input-group-addon__wr"><span class="input-group-addon"><i class="sprite-lock-selected"></i></span>
                        <input type="password" aria-describedby="" placeholder="PASSWORD" class="form-control">
                      </div><span aria-hidden="true" class="glyphicon glyphicon-ok form-control-feedback"></span>
                    </div>
                  </div>
                  <div class="form-group-margin">
                    <div class="form-group-lg form-group__d-tb">
                      <div class="input-group input-group-addon__wr"><span class="input-group-addon"></span>
                        <input type="text" aria-describedby="" placeholder="FIRST NAME" class="form-control">
                      </div>
                    </div>
                    <div class="form-group-lg form-group__d-tb">
                      <div class="input-group input-group-addon__wr"><span class="input-group-addon"></span>
                        <input type="text" aria-describedby="" placeholder="LAST NAME" class="form-control">
                      </div>
                    </div>
                    <div class="form-group-lg form-group__d-tb">
                      <div class="input-group input-group-addon__wr"><span class="input-group-addon"></span>
                        <input type="text" aria-describedby="" placeholder="STEAM ID NUMBER" class="form-control">
                      </div>
                    </div>
                    <div class="row form-group-lg form-group-inputs">
                      <label class="control-label col-xs-3">D.O.B.</label>
                      <div class="col-xs-9">
                        <div class="row form-group__d-tb">
                          <div class="col-xs-4 custom-select__wr">
                            <select class="custom-select form-control">
                              <option value="">mon</option>
                              <option value="">2</option>
                            </select>
                          </div>
                          <div class="col-xs-8">
                            <div class="row row_without-padding">
                              <div class="col-xs-5">
                                <input type="text" aria-describedby="" placeholder="00" class="form-control">
                              </div>
                              <div class="col-xs-7">
                                <input type="text" aria-describedby="" placeholder="0000" class="form-control">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row form-group-lg form-group-inputs">
                      <label class="control-label col-xs-3">GENDER</label>
                      <div class="col-xs-9 custom-select__wr">
                        <select class="custom-select form-control">
                          <option value="">MALE</option>
                          <option value="">2</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group-lg form-group__d-tb has-success has-feedback">
                      <div class="input-group input-group-addon__wr"><span class="input-group-addon">@</span>
                        <input type="email" aria-describedby="" placeholder="EMAIL" class="form-control">
                      </div><span aria-hidden="true" class="glyphicon glyphicon-ok form-control-feedback"></span>
                    </div>
                    <div class="form-group-lg form-group__d-tb has-success has-feedback">
                      <div class="input-group input-group-addon__wr"><span class="input-group-addon">@</span>
                        <input type="email" aria-describedby="" placeholder="EMAIL" class="form-control">
                      </div><span aria-hidden="true" class="glyphicon glyphicon-ok form-control-feedback"></span>
                    </div>
                  </div>
                  <div class="form-group-margin clearfix">
                    <div class="checkbox_custom remember-checkbox">
                      <input type="checkbox" value="option1" id="ch2">
                      <label for="ch2">I have read and agree to the Terms & Conditions</label>
                    </div>
                  </div>
                </div>
                <div class="col-xs-6 registration-description">
                  <div class="clearfix">
                    <div class="form-group-margin">
                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
                    </div>
                    <div class="form-group-margin text-center"><a href="" class="btn btn-default btn-lg modal-btn-success-hover modal-btn">learn more</a></div>
                  </div>
                </div>
                <button type="button" data-toggle="modal" data-target=".email-confirmation-modal" class="btn btn-default btn-lg pull-right modal-btn-success-hover modal-btn registration-btn">continue</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div tabindex="-1" role="dialog" class="modal fade email-confirmation-modal">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header header_top-line">
            <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true"><i class="sprite-close-black"></i></span></button>
            <h4 id="emailConfirmationModalLabel" class="modal-title"><span class="modal-title-importnat-text">email </span>confirmation</h4>
          </div>
          <div class="modal-body">
            <p>Hey! We just sent you an email to confirm your account. Just follow the instructions of the email and you will be all set. In the meantime you can let us know what steam games you play. </p>
            <p><strong>Why Do this?</strong>This lets us better understand our userbase and try to give you exactly what you crave. A lot of you play a certain game? We will try to get that game on our servers and better cater to you our user.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default btn-lg pull-left modal-btn-danger-hover modal-btn">skip for now</button>
            <button type="button" class="btn btn-default btn-lg pull-right modal-btn-success-hover modal-btn">link games</button>
          </div>
        </div>
      </div>
    </div>
    <!-- end Footer-->
  </body>
</html>
