app/prompt-1.jade
extends templates/layouts/_light-layout

block head
    - pageTitle = 'Prompt free';

block content
  .container.container__prompt
    .prompt-selections__wr
      .row.row-min
        .col-xs-6
          a(href="prompt-free.html").prompt-selection
            h1.prompt__big-title.prompt-selection__titel free
            h2.prompt-selection__logo-min
              img(src="img/dvsionfree.png", alt="")
            ul.list-of-services.list-of-services__free
              li forum access
              li personal profile
        .col-xs-6
          a(href="prompt-pro-1.html").prompt-selection
            h1.prompt__big-title.prompt-selection__titel.text-primary
              | $7
              span /month
            h2.prompt-selection__logo-min
              img(src="img/dvsionpro.png", alt="")
            ul.list-of-services
              li.pro-item team creation
              li.pro-item pug system
              li.pro-item personal stat tracking and achievements
              li.pro-item chance to win prizes and cash
              li forum access
              li personal profile

app/prompt-1.html
<!DOCTYPE html><!--[if IE 9]>
<html lang="en-US" class="no-js ie9">
<![endif]-->
<html lang="" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="favicon/favicon.ico" type="web/image/pngIllegal return statement">
    <link rel="icon" type="image/png" href="favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="favicon/favicon-16x16.png" sizes="16x16">
    <title>Prompt free</title>
    <meta name="description">
    <meta name="keywords">
    <meta name="copyright">
    <!-- build:css css/vendor.css-->
    <!-- bower:css-->
    <link rel="stylesheet" href="bower_components/animate.css/animate.css">
    <link rel="stylesheet" href="bower_components/fontawesome/css/font-awesome.css">
    <link rel="stylesheet" href="bower_components/select2/dist/css/select2.css">
    <!-- endbower-->
    <link rel="stylesheet" href="bower_components/owl-carousel2/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <!-- endbuild-->
    <!-- build:css css/main.css-->
    <link rel="stylesheet" href="css/style.css">
    <!-- endbuild-->
    
    <!-- build:js scripts/vendor.js-->
    <!-- bower:js-->
    <script src="bower_components/modernizr/modernizr.js"></script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
    <script src="bower_components/select2/dist/js/select2.js"></script>
    <!-- endbower-->
    <script src="bower_components/owl-carousel2/dist/owl.carousel.min.js"></script>
    <!-- endbuild-->
    <!-- build:js scripts/main.js-->
    <script src="js/main.js"></script>
    <script src="js/plugin.js"></script>
    <!-- endbuild-->
  </head>
  <body>
    <div class="main-wrapper">
      <div class="main-content">
        <!-- Header-->
        <header>
          <div class="container container__prompt">
            <h1 class="light-logo__wr"><a href="prompt-1.html"><img src="img/logo-red.png" alt=""></a></h1>
          </div>
        </header>
        <!-- end Header-->
        <!-- Main content-->
        <main class="main main-prompt-page">
          <div class="container container__prompt">
            <div class="prompt-selections__wr">
              <div class="row row-min">
                <div class="col-xs-6"><a href="prompt-free.html" class="prompt-selection">
                    <h1 class="prompt__big-title prompt-selection__titel">free</h1>
                    <h2 class="prompt-selection__logo-min"><img src="img/dvsionfree.png" alt=""></h2>
                    <ul class="list-of-services list-of-services__free">
                      <li>forum access</li>
                      <li>personal profile</li>
                    </ul></a></div>
                <div class="col-xs-6"><a href="prompt-pro-1.html" class="prompt-selection">
                    <h1 class="prompt__big-title prompt-selection__titel text-primary">$7<span>/month</span></h1>
                    <h2 class="prompt-selection__logo-min"><img src="img/dvsionpro.png" alt=""></h2>
                    <ul class="list-of-services">
                      <li class="pro-item">team creation</li>
                      <li class="pro-item">pug system</li>
                      <li class="pro-item">personal stat tracking and achievements</li>
                      <li class="pro-item">chance to win prizes and cash</li>
                      <li>forum access</li>
                      <li>personal profile</li>
                    </ul></a></div>
              </div>
            </div>
          </div>
        </main>
        <!-- end main Content-->
      </div>
      <!-- Footer-->
      <footer class="main-footer">
        <div class="container container__prompt">
          <div class="footer__bottom">
            <div class="row">
              <div class="col-xs-7">
                <p class="copyright-block"><span class="copyright-block__main-text">dvsion e-sports </span>copyright © 2014-2015 all rights reserved</p>
              </div>
              <div class="col-xs-5 text-right">
                <ul class="footer-bottom__list-nav">
                  <li><a href="">Terms of Use</a></li>
                  <li><a href="">Privacy Policy</a></li>
                  <li><a href="">DMCA Policy</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <!-- end Footer-->
    </div>
  </body>
</html>
