dist/prompt-pro-1.html
<!DOCTYPE html><!--[if IE 9]>
<html lang="en-US" class="no-js ie9">
<![endif]-->
<html lang="" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="favicon/favicon.ico" type="web/image/pngIllegal return statement">
    <link rel="icon" type="image/png" href="favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="favicon/favicon-16x16.png" sizes="16x16">
    <title>Prompt pro 3</title>
    <meta name="description">
    <meta name="keywords">
    <meta name="copyright">
    <link rel="stylesheet" href="css/vendor.css">
    <link rel="stylesheet" href="css/main.css">
    
    <script src="scripts/vendor.js"></script>
    <script src="scripts/main.js"></script>
  </head>
  <body>
    <div class="main-wrapper">
      <div class="main-content">
        <!-- Header-->
        <header>
          <div class="container container__prompt">
            <h1 class="light-logo__wr"><a href="prompt-1.html"><img src="img/logo-red.png" alt=""></a></h1>
          </div>
        </header>
        <!-- end Header-->
        <!-- Main content-->
        <main class="main main-prompt-page">
          <div class="container container__prompt">
            <form action="">
              <div class="prompt-selections__min-wr">
                <div class="row row-min prompt_selection">
                  <div class="col-xs-3 prompt_selection__item">
                    <div class="prompt-selection__min"><span class="time-subscription">1</span>
                      <div class="prompt-selection__info">
                        <div class="prompt-selection__time-label">MONTH</div>
                        <div class="prompt-selection__price">$7<span>/mo</span></div>
                      </div>
                    </div>
                    <label class="label-hidden">
                      <input type="radio" name="prompt_selection_id" value="1">
                    </label>
                  </div>
                  <div class="col-xs-3 prompt_selection__item">
                    <div class="prompt-selection__min"><span class="time-subscription">3</span>
                      <div class="prompt-selection__info">
                        <div class="prompt-selection__time-label">MONTH</div>
                        <div class="prompt-selection__price">$6<span>/mo</span></div>
                      </div>
                      <div class="prompt-selection__discount">-14%</div>
                    </div>
                    <label class="label-hidden">
                      <input type="radio" name="prompt_selection_id" value="2">
                    </label>
                  </div>
                  <div class="col-xs-3 prompt_selection__item">
                    <div class="prompt-selection__min"><span class="time-subscription">6</span>
                      <div class="prompt-selection__info">
                        <div class="prompt-selection__time-label">MONTH</div>
                        <div class="prompt-selection__price">$5<span>/mo</span></div>
                      </div>
                      <div class="prompt-selection__discount">-28%</div>
                    </div>
                    <label class="label-hidden">
                      <input type="radio" name="prompt_selection_id" value="3">
                    </label>
                  </div>
                  <div class="col-xs-3 prompt_selection__item">
                    <div class="prompt-selection__min"><span class="time-subscription">1</span>
                      <div class="prompt-selection__info">
                        <div class="prompt-selection__time-label">YEAR</div>
                        <div class="prompt-selection__price">$4<span>/mo</span></div>
                      </div>
                      <div class="prompt-selection__discount">-42%</div>
                    </div>
                    <label class="label-hidden">
                      <input type="radio" name="prompt_selection_id" value="4">
                    </label>
                  </div>
                </div>
              </div>
              <div class="prompt__btn-group"><a href="prompt-1.html" class="btn btn-default btn-lg modal-btn-danger-hover modal-btn">go back</a><a href="prompt-pro-2-card.html" class="btn btn-default btn-lg modal-btn-success-hover modal-btn">confirm</a></div>
            </form>
          </div>
        </main>
        <!-- end main Content-->
      </div>
      <!-- Footer-->
      <footer class="main-footer">
        <div class="container container__prompt">
          <div class="footer__bottom">
            <div class="row">
              <div class="col-xs-7">
                <p class="copyright-block"><span class="copyright-block__main-text">dvsion e-sports </span>copyright © 2014-2015 all rights reserved</p>
              </div>
              <div class="col-xs-5 text-right">
                <ul class="footer-bottom__list-nav">
                  <li><a href="">Terms of Use</a></li>
                  <li><a href="">Privacy Policy</a></li>
                  <li><a href="">DMCA Policy</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <!-- end Footer-->
    </div>
  </body>
</html>

app/prompt-pro-1.jade
extends templates/layouts/_light-layout

block head
    - pageTitle = 'Prompt pro 3';

block content
  .container.container__prompt
    form(action="")
      .prompt-selections__min-wr
        .row.row-min.prompt_selection
          .col-xs-3.prompt_selection__item
            .prompt-selection__min
              span.time-subscription 1
              .prompt-selection__info
                .prompt-selection__time-label MONTH
                .prompt-selection__price
                  | $7
                  span /mo
            label.label-hidden
              input(type="radio" name="prompt_selection_id" value="1")
          .col-xs-3.prompt_selection__item
            .prompt-selection__min
              span.time-subscription 3
              .prompt-selection__info
                .prompt-selection__time-label MONTH
                .prompt-selection__price
                  | $6
                  span /mo
              .prompt-selection__discount -14%
            label.label-hidden
              input(type="radio" name="prompt_selection_id" value="2")
          .col-xs-3.prompt_selection__item
            .prompt-selection__min
              span.time-subscription 6
              .prompt-selection__info
                .prompt-selection__time-label MONTH
                .prompt-selection__price
                  | $5
                  span /mo
              .prompt-selection__discount -28%
            label.label-hidden
              input(type="radio" name="prompt_selection_id" value="3")
          .col-xs-3.prompt_selection__item
            .prompt-selection__min
              span.time-subscription 1
              .prompt-selection__info
                .prompt-selection__time-label YEAR
                .prompt-selection__price
                  | $4
                  span /mo
              .prompt-selection__discount -42%
            label.label-hidden
              input(type="radio" name="prompt_selection_id" value="4")

      .prompt__btn-group
        a(href="prompt-1.html").btn.btn-default.btn-lg.modal-btn-danger-hover.modal-btn go back
        a(href="prompt-pro-2-card.html").btn.btn-default.btn-lg.modal-btn-success-hover.modal-btn confirm
