app/prompt-pro-2.jade
extends templates/layouts/_light-layout

block head
    - pageTitle = 'Prompt pro 3';

block content
  .container.container__prompt
    h1.prompt__big-title the bills
    form(action="").bills-form.form-horizontal
      .row.bills-form__form-wr
        .form-group-margin
          .form-group-sm.form-group__d-tb
            .input-group.input-group-addon__wr
              span.input-group-addon
              input.form-control(type='text', aria-describedby='', placeholder="FIRST NAME ON CARD")
          .form-group-sm.form-group__d-tb
            .input-group.input-group-addon__wr
              span.input-group-addon
              input.form-control(type='text', aria-describedby='', placeholder="LAST NAME ON CARD")
          .row.form-group-sm.form-group-inputs
            label.control-label.col-xs-5 TYPE
            .col-xs-7
              .row.form-group__d-tb
                .col-xs-12.custom-select__wr
                  select.custom-select.form-control
                    option(value="")
                    option(value="")
          .form-group-sm.form-group__d-tb
            .input-group.input-group-addon__wr
              span.input-group-addon
              input.form-control(type='text', aria-describedby='', placeholder="CARD NUMBER")

          .row.form-group-sm.form-group-inputs
            label.control-label.col-xs-5 EXP DATE
            .col-xs-7
              .row.form-group__d-tb
                .col-xs-6.custom-select__wr
                  select.custom-select.form-control
                    option(value="") 00
                    option(value="") 01
                .col-xs-6
                  select.custom-select.form-control
                    option(value="") 00
                    option(value="") 01
          .row.form-group-sm.form-group-inputs
            label.control-label.col-xs-5 SECURITY CODE
            .col-xs-7
              .row.form-group__d-tb
                .col-xs-6.col-xs-offset-6
                  input.form-control(type='text', aria-describedby='', placeholder="0000")

        .form-group-margin
          .form-group-sm.form-group__d-tb.has-success.has-feedback
            .input-group.input-group-addon__wr
              span.input-group-addon
              input.form-control(type='text', aria-describedby='', placeholder="ADDRESS ONE")
            span.glyphicon.glyphicon-ok.form-control-feedback(aria-hidden='true')
          .form-group-sm.form-group__d-tb.has-success.has-feedback
            .input-group.input-group-addon__wr
              span.input-group-addon
              input.form-control(type='text', aria-describedby='', placeholder="ADDRESS TWO")
            span.glyphicon.glyphicon-ok.form-control-feedback(aria-hidden='true')
          .form-group-sm.row.form-group-inputs
            label.control-label.col-xs-5 STATE/ZIP
            .col-xs-7
              .row.form-group__d-tb
                .col-xs-6.custom-select__wr
                  select.custom-select.form-control
                    option(value="")
                    option(value="") test
                .col-xs-6
                  input.form-control(type='text', aria-describedby='', placeholder="")

      .prompt__btn-group
        a(href="prompt-pro-2-card.html").btn.btn-default.btn-lg.modal-btn-danger-hover.modal-btn go back
        a(href="prompt-pro-3.html").btn.btn-default.btn-lg.modal-btn-success-hover.modal-btn confirm
        //- button(type="submit").btn.btn-default.btn-lg.modal-btn-success-hover.modal-btn confirm

dist/prompt-pro-2.html
<!DOCTYPE html><!--[if IE 9]>
<html lang="en-US" class="no-js ie9">
<![endif]-->
<html lang="" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="favicon/favicon.ico" type="web/image/pngIllegal return statement">
    <link rel="icon" type="image/png" href="favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="favicon/favicon-16x16.png" sizes="16x16">
    <title>Prompt pro 3</title>
    <meta name="description">
    <meta name="keywords">
    <meta name="copyright">
    <link rel="stylesheet" href="css/vendor.css">
    <link rel="stylesheet" href="css/main.css">
    
    <script src="scripts/vendor.js"></script>
    <script src="scripts/main.js"></script>
  </head>
  <body>
    <div class="main-wrapper">
      <div class="main-content">
        <!-- Header-->
        <header>
          <div class="container container__prompt">
            <h1 class="light-logo__wr"><a href="prompt-1.html"><img src="img/logo-red.png" alt=""></a></h1>
          </div>
        </header>
        <!-- end Header-->
        <!-- Main content-->
        <main class="main main-prompt-page">
          <div class="container container__prompt">
            <h1 class="prompt__big-title">the bills</h1>
            <form action="" class="bills-form form-horizontal">
              <div class="row bills-form__form-wr">
                <div class="form-group-margin">
                  <div class="form-group-sm form-group__d-tb">
                    <div class="input-group input-group-addon__wr"><span class="input-group-addon"></span>
                      <input type="text" aria-describedby="" placeholder="FIRST NAME ON CARD" class="form-control">
                    </div>
                  </div>
                  <div class="form-group-sm form-group__d-tb">
                    <div class="input-group input-group-addon__wr"><span class="input-group-addon"></span>
                      <input type="text" aria-describedby="" placeholder="LAST NAME ON CARD" class="form-control">
                    </div>
                  </div>
                  <div class="row form-group-sm form-group-inputs">
                    <label class="control-label col-xs-5">TYPE</label>
                    <div class="col-xs-7">
                      <div class="row form-group__d-tb">
                        <div class="col-xs-12 custom-select__wr">
                          <select class="custom-select form-control">
                            <option value=""></option>
                            <option value=""></option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group-sm form-group__d-tb">
                    <div class="input-group input-group-addon__wr"><span class="input-group-addon"></span>
                      <input type="text" aria-describedby="" placeholder="CARD NUMBER" class="form-control">
                    </div>
                  </div>
                  <div class="row form-group-sm form-group-inputs">
                    <label class="control-label col-xs-5">EXP DATE</label>
                    <div class="col-xs-7">
                      <div class="row form-group__d-tb">
                        <div class="col-xs-6 custom-select__wr">
                          <select class="custom-select form-control">
                            <option value="">00</option>
                            <option value="">01</option>
                          </select>
                        </div>
                        <div class="col-xs-6">
                          <select class="custom-select form-control">
                            <option value="">00</option>
                            <option value="">01</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row form-group-sm form-group-inputs">
                    <label class="control-label col-xs-5">SECURITY CODE</label>
                    <div class="col-xs-7">
                      <div class="row form-group__d-tb">
                        <div class="col-xs-6 col-xs-offset-6">
                          <input type="text" aria-describedby="" placeholder="0000" class="form-control">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group-margin">
                  <div class="form-group-sm form-group__d-tb has-success has-feedback">
                    <div class="input-group input-group-addon__wr"><span class="input-group-addon"></span>
                      <input type="text" aria-describedby="" placeholder="ADDRESS ONE" class="form-control">
                    </div><span aria-hidden="true" class="glyphicon glyphicon-ok form-control-feedback"></span>
                  </div>
                  <div class="form-group-sm form-group__d-tb has-success has-feedback">
                    <div class="input-group input-group-addon__wr"><span class="input-group-addon"></span>
                      <input type="text" aria-describedby="" placeholder="ADDRESS TWO" class="form-control">
                    </div><span aria-hidden="true" class="glyphicon glyphicon-ok form-control-feedback"></span>
                  </div>
                  <div class="form-group-sm row form-group-inputs">
                    <label class="control-label col-xs-5">STATE/ZIP</label>
                    <div class="col-xs-7">
                      <div class="row form-group__d-tb">
                        <div class="col-xs-6 custom-select__wr">
                          <select class="custom-select form-control">
                            <option value=""></option>
                            <option value="">test</option>
                          </select>
                        </div>
                        <div class="col-xs-6">
                          <input type="text" aria-describedby="" placeholder="" class="form-control">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="prompt__btn-group"><a href="prompt-pro-2-card.html" class="btn btn-default btn-lg modal-btn-danger-hover modal-btn">go back</a><a href="prompt-pro-3.html" class="btn btn-default btn-lg modal-btn-success-hover modal-btn">confirm</a>
              </div>
            </form>
          </div>
        </main>
        <!-- end main Content-->
      </div>
      <!-- Footer-->
      <footer class="main-footer">
        <div class="container container__prompt">
          <div class="footer__bottom">
            <div class="row">
              <div class="col-xs-7">
                <p class="copyright-block"><span class="copyright-block__main-text">dvsion e-sports </span>copyright © 2014-2015 all rights reserved</p>
              </div>
              <div class="col-xs-5 text-right">
                <ul class="footer-bottom__list-nav">
                  <li><a href="">Terms of Use</a></li>
                  <li><a href="">Privacy Policy</a></li>
                  <li><a href="">DMCA Policy</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <!-- end Footer-->
    </div>
  </body>
</html>
