app/prompt-pro-3.jade
extends templates/layouts/_light-layout

block head
    - pageTitle = 'Prompt pro 3';

block content
  .container.container__prompt
    h1.prompt__big-title congrats!
    .prompt__min-text
      p Its official. You are now awesome!

    .prompt__btn-group
        a(href="").btn.btn-default.btn-lg.modal-btn-success-hover.modal-btn start up

dist/prompt-pro-3.html
<!DOCTYPE html><!--[if IE 9]>
<html lang="en-US" class="no-js ie9">
<![endif]-->
<html lang="" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="favicon/favicon.ico" type="web/image/pngIllegal return statement">
    <link rel="icon" type="image/png" href="favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="favicon/favicon-16x16.png" sizes="16x16">
    <title>Prompt pro 3</title>
    <meta name="description">
    <meta name="keywords">
    <meta name="copyright">
    <link rel="stylesheet" href="css/vendor.css">
    <link rel="stylesheet" href="css/main.css">
    
    <script src="scripts/vendor.js"></script>
    <script src="scripts/main.js"></script>
  </head>
  <body>
    <div class="main-wrapper">
      <div class="main-content">
        <!-- Header-->
        <header>
          <div class="container container__prompt">
            <h1 class="light-logo__wr"><a href="prompt-1.html"><img src="img/logo-red.png" alt=""></a></h1>
          </div>
        </header>
        <!-- end Header-->
        <!-- Main content-->
        <main class="main main-prompt-page">
          <div class="container container__prompt">
            <h1 class="prompt__big-title">congrats!</h1>
            <div class="prompt__min-text">
              <p>Its official. You are now awesome!</p>
            </div>
            <div class="prompt__btn-group"><a href="" class="btn btn-default btn-lg modal-btn-success-hover modal-btn">start up</a></div>
          </div>
        </main>
        <!-- end main Content-->
      </div>
      <!-- Footer-->
      <footer class="main-footer">
        <div class="container container__prompt">
          <div class="footer__bottom">
            <div class="row">
              <div class="col-xs-7">
                <p class="copyright-block"><span class="copyright-block__main-text">dvsion e-sports </span>copyright © 2014-2015 all rights reserved</p>
              </div>
              <div class="col-xs-5 text-right">
                <ul class="footer-bottom__list-nav">
                  <li><a href="">Terms of Use</a></li>
                  <li><a href="">Privacy Policy</a></li>
                  <li><a href="">DMCA Policy</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <!-- end Footer-->
    </div>
  </body>
</html>
