app/prompt-free.jade
extends templates/layouts/_light-layout

block head
    - pageTitle = 'Prompt free';

block content
  .container.container__prompt
    h1.prompt__big-title you sure?
    h2.prompt__logo-min
      img(src="img/dvsionfree.png", alt="")
    .prompt__min-text
      p You must have some strong will power :)

    .prompt__btn-group
      a(href="prompt-1.html").btn.btn-default.btn-lg.modal-btn-danger-hover.modal-btn go back
      a(href="prompt-pro-3.html").btn.btn-default.btn-lg.modal-btn-success-hover.modal-btn confirm

app/prompt-free.html
<!DOCTYPE html><!--[if IE 9]>
<html lang="en-US" class="no-js ie9">
<![endif]-->
<html lang="" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="favicon/favicon.ico" type="web/image/pngIllegal return statement">
    <link rel="icon" type="image/png" href="favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="favicon/favicon-16x16.png" sizes="16x16">
    <title>Prompt free</title>
    <meta name="description">
    <meta name="keywords">
    <meta name="copyright">
    <!-- build:css css/vendor.css-->
    <!-- bower:css-->
    <link rel="stylesheet" href="bower_components/animate.css/animate.css">
    <link rel="stylesheet" href="bower_components/fontawesome/css/font-awesome.css">
    <link rel="stylesheet" href="bower_components/select2/dist/css/select2.css">
    <!-- endbower-->
    <link rel="stylesheet" href="bower_components/owl-carousel2/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <!-- endbuild-->
    <!-- build:css css/main.css-->
    <link rel="stylesheet" href="css/style.css">
    <!-- endbuild-->
    
    <!-- build:js scripts/vendor.js-->
    <!-- bower:js-->
    <script src="bower_components/modernizr/modernizr.js"></script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
    <script src="bower_components/select2/dist/js/select2.js"></script>
    <!-- endbower-->
    <script src="bower_components/owl-carousel2/dist/owl.carousel.min.js"></script>
    <!-- endbuild-->
    <!-- build:js scripts/main.js-->
    <script src="js/main.js"></script>
    <script src="js/plugin.js"></script>
    <!-- endbuild-->
  </head>
  <body>
    <div class="main-wrapper">
      <div class="main-content">
        <!-- Header-->
        <header>
          <div class="container container__prompt">
            <h1 class="light-logo__wr"><a href="prompt-1.html"><img src="img/logo-red.png" alt=""></a></h1>
          </div>
        </header>
        <!-- end Header-->
        <!-- Main content-->
        <main class="main main-prompt-page">
          <div class="container container__prompt">
            <h1 class="prompt__big-title">you sure?</h1>
            <h2 class="prompt__logo-min"><img src="img/dvsionfree.png" alt=""></h2>
            <div class="prompt__min-text">
              <p>You must have some strong will power :)</p>
            </div>
            <div class="prompt__btn-group"><a href="prompt-1.html" class="btn btn-default btn-lg modal-btn-danger-hover modal-btn">go back</a><a href="prompt-pro-3.html" class="btn btn-default btn-lg modal-btn-success-hover modal-btn">confirm</a></div>
          </div>
        </main>
        <!-- end main Content-->
      </div>
      <!-- Footer-->
      <footer class="main-footer">
        <div class="container container__prompt">
          <div class="footer__bottom">
            <div class="row">
              <div class="col-xs-7">
                <p class="copyright-block"><span class="copyright-block__main-text">dvsion e-sports </span>copyright © 2014-2015 all rights reserved</p>
              </div>
              <div class="col-xs-5 text-right">
                <ul class="footer-bottom__list-nav">
                  <li><a href="">Terms of Use</a></li>
                  <li><a href="">Privacy Policy</a></li>
                  <li><a href="">DMCA Policy</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <!-- end Footer-->
    </div>
  </body>
</html>
