app/team-page.jade
extends templates/layouts/_default

block head
    - pageTitle = 'Cyber sports gaming';

block content
  .container
    .inner-page
      .row.row-min.user-info__wr
        .col-xs-6
          .min-block.clearfix
            .team-block__left-section
              .tab-wr.min-block-center-info
                .tab-content.tab-content__team
                  .team-logo
                    img(src="img/team_LOGO.png", alt="")
                  .team-info
                    .team-title cloud 9 gg
                    .team-tag tag: c9
                    .team-dvsion
                      span 3rd 
                      | dvsion 1
                    .team-bill
                      | 12 
                      span - 
                      | 5
                  .min-block__soc-section.min-block__soc-section_in-teb
                    ul
                      li: a(href="")
                        //- i.soc-icon.sprite-facebook-g
                        i.soc-icon.fa.fa-facebook
                      li: a(href="")
                        //- i.soc-icon.sprite-twitter-g
                        i.soc-icon.fa.fa-twitter
                      li: a(href="")
                        //- i.soc-icon.sprite-globe
                        i.soc-icon.fa.fa-globe

          .min-block.clearfix
            .tab-wr
              ul.tab-nav_left
                li
                  a(href='') complete stats
                li(role='presentation')
                  a(href='') team history
                li(role='presentation')
                  a(href='') user config
              .tab-content_right
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam et urna fermentum, tincidunt turpis in, suscipit ante. Duis rutrum maximus sapien in pretium. Sed vehicula risus ut metus porta lacinia. Nunc eu erat dictum, vulputate nisi vel, consectetur eros. Nulla fermentum sollicitudin aliquet. Etiam at gravida velit. Nulla facilisi. Etiam vel euismod tortor, sed varius nunc. Pellentesque non massa non felis tincidunt consectetur in id massa. Donec feugiat mi sed porta consectetur. Etiam at gravida velit.
          .team-matches
            .team-match
              .team-match__inner
                .team-match__lb.team-match__lb_default
                  span Th

              .team-match__inner
                .team-match__info
                  .team-match__info-time-wr
                    .team-match__info-date 02.02.15
                    .team-match__info-time 9:00PM EST
                  .team-match__match-status
                    span.status__vs vs
                  .team-match__map-title DE_INFERNO

              .team-match__inner
                a(href="match-page.html").team-match__logo-wr
                  img(src="img/Fnatic_Logo.png", alt="")
                  .team-match__logo-title fnatic

              .team-match__inner.team-match__score-wr
                .team-match__score-of-the-name preview
            .team-match
              .team-match__inner
                .team-match__lb.team-match__lb_success
                  span W

              .team-match__inner
                .team-match__info
                  .team-match__info-time-wr
                    .team-match__info-date 02.02.15
                    .team-match__info-time 11:00PM EST
                  .team-match__match-status
                    span final
                  .team-match__map-title DE_INFERNO

              .team-match__inner
                a(href="match-page.html").team-match__logo-wr
                  img(src="img/300px-Clg_logo.png", alt="")
                  .team-match__logo-title counter logic

              .team-match__inner.team-match__score-wr
                .team-match__score-of-the-name.score-number 16 - 14
            .team-match
              .team-match__inner
                .team-match__lb.team-match__lb_danger
                  span L

              .team-match__inner
                .team-match__info
                  .team-match__info-time-wr
                    .team-match__info-date 02.02.15
                    .team-match__info-time 7:00PM EST
                  .team-match__match-status
                    span final
                  .team-match__map-title DE_INFERNO

              .team-match__inner
                a(href="match-page.html").team-match__logo-wr
                  img(src="img/300px-Liquidlogobig.png", alt="")
                  .team-match__logo-title team liquid

              .team-match__inner.team-match__score-wr
                .team-match__score-of-the-name.score-number 16 - 14

            a(href="").complete-results complete schedule & results >


        .col-xs-6
          .min-block.clearfix
            .team-photos__wr
              .tab-content.tab-content__team-photos
                #tab1.tab-pane.active.fade.in(role='tabpanel')
                  .players-list
                    .player.player_grayscale
                      a(href="user-page.html")
                        img(src="img/cap.jpg", alt="")
                        .player-c c
                    .player.player_grayscale
                      a(href="user-page.html")
                        img(src="img/gm-1.jpg", alt="")
                        .player-c a
                    .player.player_grayscale
                      a(href="user-page.html")
                        img(src="img/gm-2.jpg", alt="")
                    .player.player_grayscale
                      a(href="user-page.html")
                        img(src="img/gm-3.jpg", alt="")
                    .player.player_grayscale
                      a(href="user-page.html")
                        img(src="img/gm-4.jpg", alt="")
                #tab2.tab-pane.fade(role='tabpanel')
                    .player.player_grayscale
                      a(href="user-page.html")
                        img(src="img/gm-4.jpg", alt="")
                    .player.player_grayscale
                      a(href="user-page.html")
                        img(src="img/gm-2.jpg", alt="")
                    .player.player_grayscale
                      a(href="user-page.html")
                        img(src="img/gm-3.jpg", alt="")
                #tab3.tab-pane.fade(role='tabpanel')
                    .player.player_grayscale
                      a(href="user-page.html")
                        img(src="img/cap.jpg", alt="")
                        .player-c c
                    .player.player_grayscale
                      a(href="user-page.html")
                        img(src="img/gm-1.jpg", alt="")
                        .player-c a
              // Nav tabs
              ul.team-photos__nav(role='tablist')
                li.active(role='presentation')
                  a(href='#tab1', aria-controls='tab1', role='tab', data-toggle='tab') starters
                li(role='presentation')
                  a(href='#tab2', aria-controls='tab2', role='tab', data-toggle='tab') reserves
                li(role='presentation')
                  a(href='#tab3', aria-controls='tab3', role='tab', data-toggle='tab') coaches
              // Tab panes



          .min-block.clearfix
            .sponsors-list
              .sponsors-list__item
                a(href="")
                  img(src="img/logitech.png", alt="")
              .sponsors-list__item
                a(href="")
                  img(src="img/hyperX.png", alt="")
              .sponsors-list__item
                a(href="")
                  img(src="img/g2a.png", alt="")

          .team-stattistic__wr.clearfix
            .team-stattistic__min-block
              img(src="img/stat-1.png", alt="")
            .team-stattistic__min-block
              img(src="img/stat-1.png", alt="")
            .team-stattistic__min-block
              img(src="img/stat-1.png", alt="")
          .team-graph
            img(src="img/team_GRAPH-min.png", alt="")

dist/team-page.html
<!DOCTYPE html><!--[if IE 9]>
<html class="no-js lt-ie10" lang="en">
<![endif]-->
<!--[if gt IE 8]><!-->
<html lang="" class="no-js"><!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="favicon/favicon.ico" type="web/image/pngIllegal return statement">
    <link rel="icon" type="image/png" href="favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="favicon/favicon-16x16.png" sizes="16x16">
    <title>Cyber sports gaming</title>
    <meta name="description">
    <meta name="keywords">
    <meta name="copyright">
    <link rel="stylesheet" href="css/vendor.css">
    <link rel="stylesheet" href="css/main.css">
    
    <script src="scripts/vendor.js"></script>
    <script src="scripts/main.js"></script>
  </head>
  <body>
    <!-- Header-->
    <header class="main-header">
      <div class="main-header__inner">
        <div class="container">
          <div class="row row_without-padding header__container-inner">
            <div class="col-xs-7 header__left-menu-wr">
              <div class="btn-menu js-dd-btn pull-left">
                <div class="navicon-line navicon-line_top"></div>
                <div class="navicon-line"></div>
                <div class="navicon-line navicon-line_hedden"></div>
              </div>
              <h1 class="logo__wr"><a href="index.html"><img src="img/logo.png" alt="logo.png" class="img-responsive"></a></h1>
            </div>
            <div class="col-xs-5">
              <div class="pull-right">
                <div class="header__login-block">
                  <div class="user__log-out">
                    <ul>
                      <li><a href="" data-toggle="modal" data-target=".login-modal">login</a></li>
                      <li><a href="">join</a></li>
                    </ul>
                  </div>
                  <div class="user__log-in hidden"><a href="" class="header__user-name">user name</a>
                    <div class="header__user-avatar"><img src="img/user-avatar-none.jpg" alt="" class="img-responsive">
                      <!-- img(src="img/user-avatar.jpg", alt="").img-responsive-->
                    </div>
                  </div>
                </div>
                <form id="" method="" action="" class="header__search-form">
                  <div class="search-form__input-group"><span class="search-form__input-group-btn">
                      <button type="button" class="btn-search btn btn-danger btn-lg"><i class="fa fa-search"></i>
                      </button></span><span class="search-form__input-group-input">
                      <input type="text" placeholder="Searchable" class="form-control input-lg"></span></div>
                </form>
              </div>
            </div>
          </div>
          <nav class="main-nav js-dd">
            <ul>
              <li><a href="">league</a></li>
              <li><a href="">watch</a></li>
              <li><a href="">stats</a></li>
              <li><a href="">about</a></li>
              <li><a href="">sponsors</a></li>
              <li><a href="">forum</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <!-- end Header-->
    <!-- Main content-->
    <main class="main-block">
      <div class="container">
        <div class="inner-page">
          <div class="row row-min user-info__wr">
            <div class="col-xs-6">
              <div class="min-block clearfix">
                <div class="team-block__left-section">
                  <div class="tab-wr min-block-center-info">
                    <div class="tab-content tab-content__team">
                      <div class="team-logo"><img src="img/team_LOGO.png" alt=""></div>
                      <div class="team-info">
                        <div class="team-title">cloud 9 gg</div>
                        <div class="team-tag">tag: c9</div>
                        <div class="team-dvsion"><span>3rd </span>dvsion 1</div>
                        <div class="team-bill">12 <span>- </span>5</div>
                      </div>
                      <div class="min-block__soc-section min-block__soc-section_in-teb">
                        <ul>
                          <li><a href=""><i class="soc-icon fa fa-facebook"></i></a></li>
                          <li><a href=""><i class="soc-icon fa fa-twitter"></i></a></li>
                          <li><a href=""><i class="soc-icon fa fa-globe"></i></a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="min-block clearfix">
                <div class="tab-wr">
                  <ul class="tab-nav_left">
                    <li><a href="">complete stats</a></li>
                    <li role="presentation"><a href="">team history</a></li>
                    <li role="presentation"><a href="">user config</a></li>
                  </ul>
                  <div class="tab-content_right">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam et urna fermentum, tincidunt turpis in, suscipit ante. Duis rutrum maximus sapien in pretium. Sed vehicula risus ut metus porta lacinia. Nunc eu erat dictum, vulputate nisi vel, consectetur eros. Nulla fermentum sollicitudin aliquet. Etiam at gravida velit. Nulla facilisi. Etiam vel euismod tortor, sed varius nunc. Pellentesque non massa non felis tincidunt consectetur in id massa. Donec feugiat mi sed porta consectetur. Etiam at gravida velit.</p>
                  </div>
                </div>
              </div>
              <div class="team-matches">
                <div class="team-match">
                  <div class="team-match__inner">
                    <div class="team-match__lb team-match__lb_default"><span>Th</span></div>
                  </div>
                  <div class="team-match__inner">
                    <div class="team-match__info">
                      <div class="team-match__info-time-wr">
                        <div class="team-match__info-date">02.02.15</div>
                        <div class="team-match__info-time">9:00PM EST</div>
                      </div>
                      <div class="team-match__match-status"><span class="status__vs">vs</span></div>
                      <div class="team-match__map-title">DE_INFERNO</div>
                    </div>
                  </div>
                  <div class="team-match__inner"><a href="match-page.html" class="team-match__logo-wr"><img src="img/Fnatic_Logo.png" alt="">
                      <div class="team-match__logo-title">fnatic</div></a></div>
                  <div class="team-match__inner team-match__score-wr">
                    <div class="team-match__score-of-the-name">preview</div>
                  </div>
                </div>
                <div class="team-match">
                  <div class="team-match__inner">
                    <div class="team-match__lb team-match__lb_success"><span>W</span></div>
                  </div>
                  <div class="team-match__inner">
                    <div class="team-match__info">
                      <div class="team-match__info-time-wr">
                        <div class="team-match__info-date">02.02.15</div>
                        <div class="team-match__info-time">11:00PM EST</div>
                      </div>
                      <div class="team-match__match-status"><span>final</span></div>
                      <div class="team-match__map-title">DE_INFERNO</div>
                    </div>
                  </div>
                  <div class="team-match__inner"><a href="match-page.html" class="team-match__logo-wr"><img src="img/300px-Clg_logo.png" alt="">
                      <div class="team-match__logo-title">counter logic</div></a></div>
                  <div class="team-match__inner team-match__score-wr">
                    <div class="team-match__score-of-the-name score-number">16 - 14</div>
                  </div>
                </div>
                <div class="team-match">
                  <div class="team-match__inner">
                    <div class="team-match__lb team-match__lb_danger"><span>L</span></div>
                  </div>
                  <div class="team-match__inner">
                    <div class="team-match__info">
                      <div class="team-match__info-time-wr">
                        <div class="team-match__info-date">02.02.15</div>
                        <div class="team-match__info-time">7:00PM EST</div>
                      </div>
                      <div class="team-match__match-status"><span>final</span></div>
                      <div class="team-match__map-title">DE_INFERNO</div>
                    </div>
                  </div>
                  <div class="team-match__inner"><a href="match-page.html" class="team-match__logo-wr"><img src="img/300px-Liquidlogobig.png" alt="">
                      <div class="team-match__logo-title">team liquid</div></a></div>
                  <div class="team-match__inner team-match__score-wr">
                    <div class="team-match__score-of-the-name score-number">16 - 14</div>
                  </div>
                </div><a href="" class="complete-results">complete schedule & results ></a>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="min-block clearfix">
                <div class="team-photos__wr">
                  <div class="tab-content tab-content__team-photos">
                    <div id="tab1" role="tabpanel" class="tab-pane active fade in">
                      <div class="players-list">
                        <div class="player player_grayscale"><a href="user-page.html"><img src="img/cap.jpg" alt="">
                            <div class="player-c">c</div></a></div>
                        <div class="player player_grayscale"><a href="user-page.html"><img src="img/gm-1.jpg" alt="">
                            <div class="player-c">a</div></a></div>
                        <div class="player player_grayscale"><a href="user-page.html"><img src="img/gm-2.jpg" alt=""></a></div>
                        <div class="player player_grayscale"><a href="user-page.html"><img src="img/gm-3.jpg" alt=""></a></div>
                        <div class="player player_grayscale"><a href="user-page.html"><img src="img/gm-4.jpg" alt=""></a></div>
                      </div>
                    </div>
                    <div id="tab2" role="tabpanel" class="tab-pane fade">
                      <div class="player player_grayscale"><a href="user-page.html"><img src="img/gm-4.jpg" alt=""></a></div>
                      <div class="player player_grayscale"><a href="user-page.html"><img src="img/gm-2.jpg" alt=""></a></div>
                      <div class="player player_grayscale"><a href="user-page.html"><img src="img/gm-3.jpg" alt=""></a></div>
                    </div>
                    <div id="tab3" role="tabpanel" class="tab-pane fade">
                      <div class="player player_grayscale"><a href="user-page.html"><img src="img/cap.jpg" alt="">
                          <div class="player-c">c</div></a></div>
                      <div class="player player_grayscale"><a href="user-page.html"><img src="img/gm-1.jpg" alt="">
                          <div class="player-c">a</div></a></div>
                    </div>
                  </div>
                  <!-- Nav tabs-->
                  <ul role="tablist" class="team-photos__nav">
                    <li role="presentation" class="active"><a href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab">starters</a></li>
                    <li role="presentation"><a href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab">reserves</a></li>
                    <li role="presentation"><a href="#tab3" aria-controls="tab3" role="tab" data-toggle="tab">coaches</a></li>
                  </ul>
                  <!-- Tab panes-->
                  
                  
                </div>
              </div>
              <div class="min-block clearfix">
                <div class="sponsors-list">
                  <div class="sponsors-list__item"><a href=""><img src="img/logitech.png" alt=""></a></div>
                  <div class="sponsors-list__item"><a href=""><img src="img/hyperX.png" alt=""></a></div>
                  <div class="sponsors-list__item"><a href=""><img src="img/g2a.png" alt=""></a></div>
                </div>
              </div>
              <div class="team-stattistic__wr clearfix">
                <div class="team-stattistic__min-block"><img src="img/stat-1.png" alt=""></div>
                <div class="team-stattistic__min-block"><img src="img/stat-1.png" alt=""></div>
                <div class="team-stattistic__min-block"><img src="img/stat-1.png" alt=""></div>
              </div>
              <div class="team-graph"><img src="img/team_GRAPH-min.png" alt=""></div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!-- end main Content-->
    <!-- Footer-->
    <footer class="main-footer">
      <div class="container">
        <div class="footer__top clearfix">
          <div class="footer__logo-wr"><img src="img/logo-footer.png" alt="" class="img-responsive"></div>
          <div class="footer__main-nav-wr">
            <nav class="footer__main-nav">
              <ul>
                <li><a href="">league</a></li>
                <li><a href="">watch</a></li>
                <li><a href="">stats</a></li>
                <li><a href="">about</a></li>
                <li><a href="">sponsors</a></li>
                <li><a href="">forum</a></li>
              </ul>
            </nav>
            <div class="row footer__other-links-wr">
              <div class="col-xs-3">
                <h3 class="footer-links-menu__title">about us</h3>
                <ul class="footer-links-menu__list">
                  <li><a href="">our mission</a></li>
                  <li><a href="">our team</a></li>
                  <li><a href="">our partners</a></li>
                  <li><a href="">our projects</a></li>
                </ul>
              </div>
              <div class="col-xs-3">
                <h3 class="footer-links-menu__title">partnership</h3>
                <ul class="footer-links-menu__list">
                  <li><a href="">press kit</a></li>
                  <li><a href="">sponsor kit</a></li>
                  <li><a href="">advertisement</a></li>
                  <li><a href="">team@divsionesports.com</a></li>
                </ul>
              </div>
              <div class="col-xs-3">
                <h3 class="footer-links-menu__title">careers</h3>
                <ul class="footer-links-menu__list">
                  <li><a href="">job openings</a></li>
                  <li><a href="">moderator application</a></li>
                  <li><a href="">jobs@divsionesports.com</a></li>
                </ul>
              </div>
              <div class="col-xs-3">
                <h3 class="footer-links-menu__title">contact us</h3>
                <ul class="footer-links-menu__list">
                  <li><a href="mailto:info@divsionesports.com">info@divsionesports.com</a></li>
                  <li>1 800 555 1234</li>
                  <li><strong>Dvsion Esports</strong><br>123 Main St.<br>City, ST, 01234</li>
                </ul>
              </div>
            </div>
            <div class="footer-soc-menu">
              <ul>
                <li><a href=""><i class="soc-icon fa fa-twitch"></i></a></li>
                <li><a href=""><i class="soc-icon fa fa-twitter"></i></a></li>
                <li><a href=""><i class="soc-icon fa fa-facebook"></i></a></li>
                <li><a href=""><i class="soc-icon fa fa-steam"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer__bottom">
          <div class="row">
            <div class="col-xs-7">
              <p class="copyright-block"><span class="copyright-block__main-text">dvsion e-sports </span>copyright © 2014-2015 all rights reserved</p>
            </div>
            <div class="col-xs-5 text-right">
              <ul class="footer-bottom__list-nav">
                <li><a href="">Terms of Use</a></li>
                <li><a href="">Privacy Policy</a></li>
                <li><a href="">DMCA Policy</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <div tabindex="-1" role="dialog" class="modal fade login-modal">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header header_top-line">
            <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true"><i class="sprite-close-black"></i></span></button>
            <h4 id="loginModalLabel" class="modal-title"><span class="modal-title-importnat-text">login</span>/register</h4>
          </div>
          <div class="modal-body">
            <form action="" class="login-form">
              <!-- .form-group-lg.has-success.has-feedback-->
              <div class="form-group-margin">
                <div class="form-group-lg form-group__d-tb">
                  <div class="input-group input-group-addon__wr"><span class="input-group-addon"><i class="sprite-user"></i></span>
                    <input type="text" aria-describedby="" placeholder="Login" class="form-control">
                  </div>
                  <!-- span.glyphicon.glyphicon-ok.form-control-feedback(aria-hidden='true')-->
                </div>
                <div class="form-group-lg form-group__d-tb has-error has-feedback">
                  <div class="input-group input-group-addon__wr"><span class="input-group-addon"><i class="sprite-lock-selected"></i></span>
                    <input type="password" aria-describedby="" placeholder="Password" class="form-control">
                  </div><span class="glyphicon glyphicon-remove form-control-feedback tooltip__wr"><span class="form-control__tooltip">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</span></span>
                </div>
              </div>
              <div class="form-group-margin clearfix">
                <div class="checkbox_custom remember-checkbox">
                  <input type="checkbox" value="option1" id="ch1">
                  <label for="ch1">Remember me</label>
                </div><a href="" class="lose-password-link">Lost your password?</a>
              </div>
              <div class="clearfix">
                <button type="button" data-toggle="modal" class="btn btn-default btn-lg pull-left modal-btn-success-hover modal-btn">login</button>
                <button type="button" data-toggle="modal" data-target=".registration-modal" class="btn btn-default btn-lg pull-right modal-btn-danger-hover modal-btn">register</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div tabindex="-1" role="dialog" class="modal fade registration-modal">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header header_top-line">
            <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true"><i class="sprite-close-black"></i></span></button>
            <h4 id="registrationModalLabel" class="modal-title">
              <div class="row">
                <div class="col-xs-6"><span class="modal-title-importnat-text">register</span>/sign up</div>
                <div class="col-xs-6"><span class="modal-title-importnat-text">why divsion?</span></div>
              </div>
            </h4>
          </div>
          <div class="modal-body">
            <form action="" class="login-form form-horizontal">
              <div class="row registration__form-wr">
                <div class="col-xs-6">
                  <div class="form-group-margin">
                    <div class="form-group-lg form-group__d-tb has-success has-feedback">
                      <div class="input-group input-group-addon__wr"><span class="input-group-addon"><i class="sprite-user"></i></span>
                        <input type="text" aria-describedby="" placeholder="Login" class="form-control">
                      </div><span aria-hidden="true" class="glyphicon glyphicon-ok form-control-feedback"></span>
                    </div>
                    <div class="form-group-lg form-group__d-tb has-success has-feedback">
                      <div class="input-group input-group-addon__wr"><span class="input-group-addon"><i class="sprite-lock"></i></span>
                        <input type="password" aria-describedby="" placeholder="PASSWORD" class="form-control">
                      </div><span aria-hidden="true" class="glyphicon glyphicon-ok form-control-feedback"></span>
                    </div>
                    <div class="form-group-lg form-group__d-tb has-success has-feedback">
                      <div class="input-group input-group-addon__wr"><span class="input-group-addon"><i class="sprite-lock-selected"></i></span>
                        <input type="password" aria-describedby="" placeholder="PASSWORD" class="form-control">
                      </div><span aria-hidden="true" class="glyphicon glyphicon-ok form-control-feedback"></span>
                    </div>
                  </div>
                  <div class="form-group-margin">
                    <div class="form-group-lg form-group__d-tb">
                      <div class="input-group input-group-addon__wr"><span class="input-group-addon"></span>
                        <input type="text" aria-describedby="" placeholder="FIRST NAME" class="form-control">
                      </div>
                    </div>
                    <div class="form-group-lg form-group__d-tb">
                      <div class="input-group input-group-addon__wr"><span class="input-group-addon"></span>
                        <input type="text" aria-describedby="" placeholder="LAST NAME" class="form-control">
                      </div>
                    </div>
                    <div class="form-group-lg form-group__d-tb">
                      <div class="input-group input-group-addon__wr"><span class="input-group-addon"></span>
                        <input type="text" aria-describedby="" placeholder="STEAM ID NUMBER" class="form-control">
                      </div>
                    </div>
                    <div class="row form-group-lg form-group-inputs">
                      <label class="control-label col-xs-3">D.O.B.</label>
                      <div class="col-xs-9">
                        <div class="row form-group__d-tb">
                          <div class="col-xs-4 custom-select__wr">
                            <select class="custom-select form-control">
                              <option value="">mon</option>
                              <option value="">2</option>
                            </select>
                          </div>
                          <div class="col-xs-8">
                            <div class="row row_without-padding">
                              <div class="col-xs-5">
                                <input type="text" aria-describedby="" placeholder="00" class="form-control">
                              </div>
                              <div class="col-xs-7">
                                <input type="text" aria-describedby="" placeholder="0000" class="form-control">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row form-group-lg form-group-inputs">
                      <label class="control-label col-xs-3">GENDER</label>
                      <div class="col-xs-9 custom-select__wr">
                        <select class="custom-select form-control">
                          <option value="">MALE</option>
                          <option value="">2</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group-lg form-group__d-tb has-success has-feedback">
                      <div class="input-group input-group-addon__wr"><span class="input-group-addon">@</span>
                        <input type="email" aria-describedby="" placeholder="EMAIL" class="form-control">
                      </div><span aria-hidden="true" class="glyphicon glyphicon-ok form-control-feedback"></span>
                    </div>
                    <div class="form-group-lg form-group__d-tb has-success has-feedback">
                      <div class="input-group input-group-addon__wr"><span class="input-group-addon">@</span>
                        <input type="email" aria-describedby="" placeholder="EMAIL" class="form-control">
                      </div><span aria-hidden="true" class="glyphicon glyphicon-ok form-control-feedback"></span>
                    </div>
                  </div>
                  <div class="form-group-margin clearfix">
                    <div class="checkbox_custom remember-checkbox">
                      <input type="checkbox" value="option1" id="ch2">
                      <label for="ch2">I have read and agree to the Terms & Conditions</label>
                    </div>
                  </div>
                </div>
                <div class="col-xs-6 registration-description">
                  <div class="clearfix">
                    <div class="form-group-margin">
                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
                    </div>
                    <div class="form-group-margin text-center"><a href="" class="btn btn-default btn-lg modal-btn-success-hover modal-btn">learn more</a></div>
                  </div>
                </div>
                <button type="button" data-toggle="modal" data-target=".email-confirmation-modal" class="btn btn-default btn-lg pull-right modal-btn-success-hover modal-btn registration-btn">continue</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div tabindex="-1" role="dialog" class="modal fade email-confirmation-modal">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header header_top-line">
            <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true"><i class="sprite-close-black"></i></span></button>
            <h4 id="emailConfirmationModalLabel" class="modal-title"><span class="modal-title-importnat-text">email </span>confirmation</h4>
          </div>
          <div class="modal-body">
            <p>Hey! We just sent you an email to confirm your account. Just follow the instructions of the email and you will be all set. In the meantime you can let us know what steam games you play. </p>
            <p><strong>Why Do this?</strong>This lets us better understand our userbase and try to give you exactly what you crave. A lot of you play a certain game? We will try to get that game on our servers and better cater to you our user.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default btn-lg pull-left modal-btn-danger-hover modal-btn">skip for now</button>
            <button type="button" class="btn btn-default btn-lg pull-right modal-btn-success-hover modal-btn">link games</button>
          </div>
        </div>
      </div>
    </div>
    <!-- end Footer-->
  </body>
</html>
