app/user-page.jade
extends templates/layouts/_default

block head
    - pageTitle = 'Cyber sports gaming';

block content
  .container
    .inner-page
      .row.row-min.user-info__wr
        .col-xs-6
          .min-block.clearfix
            .min-block__left-section
              .user-thumbnail
                img(src="img/user-img.jpg", alt="")
                .square-min-btn__group.user-profile__btn-group
                  .square-min-btn.square-min-btn_primary
                    span.glyphicon.glyphicon-remove
                  .square-min-btn.square-min-btn_success
                    span.glyphicon.glyphicon-ok
            .min-block__main-section.min-block-center-info
              .profile__user-info
                .profile__user-nick n0thing
                  span.user-status.user-status__pro pro
                .profile__user-name JORDAN GILBERT
                .profile__user-address 23 MALE  SAN DIEGO
                .user-karma__wr
                  .user-karma
                    span.user-karma__mark +
                    | 1435 
                    span.user-karma__unit K
                  .user-karma__btn-group
                    span.user-karma__btn.user-karma__btn-plus +
                    span.user-karma__btn.user-karma__btn-minus -

            .min-block__soc-section
              ul
                li: a(href="")
                  //- i.soc-icon.sprite-facebook-g
                  i.soc-icon.fa.fa-facebook
                li: a(href="")
                  //- i.soc-icon.sprite-twitter-g
                  i.soc-icon.fa.fa-twitter
                li: a(href="")
                  //- i.soc-icon.sprite-comment
                  i.soc-icon.fa.fa-comment
          .min-block.clearfix
            .tab-wr
              ul.tab-nav_left
                li
                  a(href='', data-toggle="modal", data-target=".pm-modal") complete stats
                li(role='presentation')
                  a(href='') team history
                li(role='presentation')
                  a(href='') user config
              .tab-content_right
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam et urna fermentum, tincidunt turpis in, suscipit ante. Duis rutrum maximus sapien in pretium. Sed vehicula risus ut metus porta lacinia. Nunc eu erat dictum, vulputate nisi vel, consectetur eros. Nulla fermentum sollicitudin aliquet. Etiam at gravida velit. Nulla facilisi. Etiam vel euismod tortor, sed varius nunc. Pellentesque non massa non felis tincidunt consectetur in id massa. Donec feugiat mi sed porta consectetur. Etiam at gravida velit.
        .col-xs-6
          .min-block.clearfix
            .clearfix
              .user-awards.pull-left
                span.user-avard
                  img(src="img/award1-empty.png", alt="")
                span.user-avard
                  img(src="img/award2.png", alt="")
                span.user-avard
                  img(src="img/award3.png", alt="")
              .user-awards__title__wr
                .user-awards__title
                  | ENTRY
                  span /
                  | RIFLER
                .user-awards__title_bottom
                  | CENTRAL
          .min-block.clearfix
            .team-block__left-section
              .tab-wr.min-block-center-info
                // Nav tabs
                ul.team-nav(role='tablist')
                  li.active(role='presentation')
                    a(href='#tab1', aria-controls='tab1', role='tab', data-toggle='tab') league team
                  li(role='presentation')
                    a(href='#tab2', aria-controls='tab2', role='tab', data-toggle='tab') scrim team #1
                  li(role='presentation')
                    a(href='#tab3', aria-controls='tab3', role='tab', data-toggle='tab') scrim team #2
                  li(role='presentation')
                    a(href='#tab4', aria-controls='tab4', role='tab', data-toggle='tab') scrim team #3
                // Tab panes
                .tab-content.tab-content__team
                  #tab1.tab-pane.active.fade.in(role='tabpanel')
                    .team-logo
                      a(href="team-page.html")
                        img(src="img/team_LOGO.png", alt="")
                    .team-info
                      .team-title cloud 9 gg
                      .team-tag tag: c9
                      .team-dvsion
                        span 3rd 
                        | dvsion 1
                      .team-bill
                        | 12 
                        span - 
                        | 5
                    .min-block__soc-section.min-block__soc-section_in-teb
                      ul
                        li: a(href="")
                          //- i.soc-icon.sprite-facebook-g
                          i.soc-icon.fa.fa-facebook
                        li: a(href="")
                          //- i.soc-icon.sprite-twitter-g
                          i.soc-icon.fa.fa-twitter
                        li: a(href="")
                          //- i.soc-icon.sprite-globe
                          i.soc-icon.fa.fa-globe
                  #tab2.tab-pane.fade(role='tabpanel')
                    .team-logo
                      a(href="team-page.html")
                        img(src="img/team_LOGO.png", alt="")
                    .team-info
                      .team-title cloud 13 gg
                      .team-tag tag: c11
                      .team-dvsion
                        span 2rd 
                        | dvsion 1
                      .team-bill
                        | 6 
                        span - 
                        | 8
                    .min-block__soc-section.min-block__soc-section_in-teb
                      ul
                        li: a(href="")
                          //- i.soc-icon.sprite-facebook-g
                          i.soc-icon.fa.fa-facebook
                        li: a(href="")
                          //- i.soc-icon.sprite-twitter-g
                          i.soc-icon.fa.fa-twitter
                        li: a(href="")
                          //- i.soc-icon.sprite-globe
                          i.soc-icon.fa.fa-globe
                  #tab3.tab-pane.fade(role='tabpanel')
                    .team-logo
                      a(href="team-page.html")
                        img(src="img/team_LOGO.png", alt="")
                    .team-info
                      .team-title cloud 9 gg
                      .team-tag tag: c9
                      .team-dvsion
                        span 1rd 
                        | dvsion 1
                      .team-bill
                        | 8 
                        span - 
                        | 5
                    .min-block__soc-section.min-block__soc-section_in-teb
                      ul
                        li: a(href="")
                          //- i.soc-icon.sprite-facebook-g
                          i.soc-icon.fa.fa-facebook
                        li: a(href="")
                          //- i.soc-icon.sprite-twitter-g
                          i.soc-icon.fa.fa-twitter
                        li: a(href="")
                          //- i.soc-icon.sprite-globe
                          i.soc-icon.fa.fa-globe
                  #tab4.tab-pane.fade(role='tabpanel')
                    .team-logo
                      a(href="team-page.html")
                        img(src="img/team_LOGO.png", alt="")
                    .team-info
                      .team-title cloud 9 gg
                      .team-tag tag: c9
                      .team-dvsion
                        span 3rd 
                        | dvsion 1
                      .team-bill
                        | 2 
                        span - 
                        | 5
                    .min-block__soc-section.min-block__soc-section_in-teb
                      ul
                        li: a(href="")
                          //- i.soc-icon.sprite-facebook-g
                          i.soc-icon.fa.fa-facebook
                        li: a(href="")
                          //- i.soc-icon.sprite-twitter-g
                          i.soc-icon.fa.fa-twitter
                        li: a(href="")
                          //- i.soc-icon.sprite-globe
                          i.soc-icon.fa.fa-globe
      .user-stattistic__wr.clearfix
        //- .user-stattistic__min-block
        //-   .progress-pie-chart(data-percent='80')
        //-     .ppc-progress
        //-       .ppc-progress-fill
        //-     .ppc-percents
        //-       .pcc-percents-wrapper
        //-         span 1.36
        //-           span.pcc-title RATING
        .user-stattistic__min-block
          img(src="img/stat-1.png", alt="")
        .user-stattistic__min-block
          img(src="img/stat-1.png", alt="")
        .user-stattistic__min-block
          img(src="img/stat-1.png", alt="")
        .user-stattistic__min-block
          img(src="img/stat-1.png", alt="")
      .user-graph
        img(src="img/user_GRAPH.png", alt="")
  .modal.fade.pm-modal(tabindex='-1', role='dialog')
    .modal-dialog.modal-lg
      .modal-content.modal-content_other
        .modal-header
          h4.modla-subject subject
        .modal-body
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam et urna fermentum, tincidunt turpis in, suscipit ante. Duis rutrum
            | maximus sapien in pretium. Sed vehicula risus ut metus porta lacinia. Nunc eu erat dictum, vulputate nisi vel, consectetur eros.
            | Nulla fermentum sollicitudin aliquet. Etiam at gravida velit. Nulla facilisi. Etiam vel euismod tortor, sed varius nunc.
            | Pellentesque non massa non felis tincidunt consectetur in id massa. Donec feugiat mi sed porta consectetur. Etiam at gravida
            | velit.

        .modal-footer
          button.btn.btn-default.btn-lg.pull-left.btn-success.modal-btn(type='button') send
          button.btn.btn-default.btn-lg.pull-right.btn-danger.modal-btn(type='button', data-dismiss='modal', aria-label='Close') close

dist/user-page.html
<!DOCTYPE html><!--[if IE 9]>
<html class="no-js lt-ie10" lang="en">
<![endif]-->
<!--[if gt IE 8]><!-->
<html lang="" class="no-js"><!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="favicon/favicon.ico" type="web/image/pngIllegal return statement">
    <link rel="icon" type="image/png" href="favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="favicon/favicon-16x16.png" sizes="16x16">
    <title>Cyber sports gaming</title>
    <meta name="description">
    <meta name="keywords">
    <meta name="copyright">
    <link rel="stylesheet" href="css/vendor.css">
    <link rel="stylesheet" href="css/main.css">
    
    <script src="scripts/vendor.js"></script>
    <script src="scripts/main.js"></script>
  </head>
  <body>
    <!-- Header-->
    <header class="main-header">
      <div class="main-header__inner">
        <div class="container">
          <div class="row row_without-padding header__container-inner">
            <div class="col-xs-7 header__left-menu-wr">
              <div class="btn-menu js-dd-btn pull-left">
                <div class="navicon-line navicon-line_top"></div>
                <div class="navicon-line"></div>
                <div class="navicon-line navicon-line_hedden"></div>
              </div>
              <h1 class="logo__wr"><a href="index.html"><img src="img/logo.png" alt="logo.png" class="img-responsive"></a></h1>
            </div>
            <div class="col-xs-5">
              <div class="pull-right">
                <div class="header__login-block">
                  <div class="user__log-out">
                    <ul>
                      <li><a href="" data-toggle="modal" data-target=".login-modal">login</a></li>
                      <li><a href="">join</a></li>
                    </ul>
                  </div>
                  <div class="user__log-in hidden"><a href="" class="header__user-name">user name</a>
                    <div class="header__user-avatar"><img src="img/user-avatar-none.jpg" alt="" class="img-responsive">
                      <!-- img(src="img/user-avatar.jpg", alt="").img-responsive-->
                    </div>
                  </div>
                </div>
                <form id="" method="" action="" class="header__search-form">
                  <div class="search-form__input-group"><span class="search-form__input-group-btn">
                      <button type="button" class="btn-search btn btn-danger btn-lg"><i class="fa fa-search"></i>
                      </button></span><span class="search-form__input-group-input">
                      <input type="text" placeholder="Searchable" class="form-control input-lg"></span></div>
                </form>
              </div>
            </div>
          </div>
          <nav class="main-nav js-dd">
            <ul>
              <li><a href="">league</a></li>
              <li><a href="">watch</a></li>
              <li><a href="">stats</a></li>
              <li><a href="">about</a></li>
              <li><a href="">sponsors</a></li>
              <li><a href="">forum</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <!-- end Header-->
    <!-- Main content-->
    <main class="main-block">
      <div class="container">
        <div class="inner-page">
          <div class="row row-min user-info__wr">
            <div class="col-xs-6">
              <div class="min-block clearfix">
                <div class="min-block__left-section">
                  <div class="user-thumbnail"><img src="img/user-img.jpg" alt="">
                    <div class="square-min-btn__group user-profile__btn-group">
                      <div class="square-min-btn square-min-btn_primary"><span class="glyphicon glyphicon-remove"></span></div>
                      <div class="square-min-btn square-min-btn_success"><span class="glyphicon glyphicon-ok"></span></div>
                    </div>
                  </div>
                </div>
                <div class="min-block__main-section min-block-center-info">
                  <div class="profile__user-info">
                    <div class="profile__user-nick">n0thing<span class="user-status user-status__pro">pro</span></div>
                    <div class="profile__user-name">JORDAN GILBERT</div>
                    <div class="profile__user-address">23 MALE  SAN DIEGO</div>
                    <div class="user-karma__wr">
                      <div class="user-karma"><span class="user-karma__mark">+</span>1435 <span class="user-karma__unit">K</span></div>
                      <div class="user-karma__btn-group"><span class="user-karma__btn user-karma__btn-plus">+</span><span class="user-karma__btn user-karma__btn-minus">-</span></div>
                    </div>
                  </div>
                </div>
                <div class="min-block__soc-section">
                  <ul>
                    <li><a href=""><i class="soc-icon fa fa-facebook"></i></a></li>
                    <li><a href=""><i class="soc-icon fa fa-twitter"></i></a></li>
                    <li><a href=""><i class="soc-icon fa fa-comment"></i></a></li>
                  </ul>
                </div>
              </div>
              <div class="min-block clearfix">
                <div class="tab-wr">
                  <ul class="tab-nav_left">
                    <li><a href="" data-toggle="modal" data-target=".pm-modal">complete stats</a></li>
                    <li role="presentation"><a href="">team history</a></li>
                    <li role="presentation"><a href="">user config</a></li>
                  </ul>
                  <div class="tab-content_right">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam et urna fermentum, tincidunt turpis in, suscipit ante. Duis rutrum maximus sapien in pretium. Sed vehicula risus ut metus porta lacinia. Nunc eu erat dictum, vulputate nisi vel, consectetur eros. Nulla fermentum sollicitudin aliquet. Etiam at gravida velit. Nulla facilisi. Etiam vel euismod tortor, sed varius nunc. Pellentesque non massa non felis tincidunt consectetur in id massa. Donec feugiat mi sed porta consectetur. Etiam at gravida velit.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="min-block clearfix">
                <div class="clearfix">
                  <div class="user-awards pull-left"><span class="user-avard"><img src="img/award1-empty.png" alt=""></span><span class="user-avard"><img src="img/award2.png" alt=""></span><span class="user-avard"><img src="img/award3.png" alt=""></span></div>
                  <div class="user-awards__title__wr">
                    <div class="user-awards__title">ENTRY<span>/</span>RIFLER</div>
                    <div class="user-awards__title_bottom">CENTRAL</div>
                  </div>
                </div>
              </div>
              <div class="min-block clearfix">
                <div class="team-block__left-section">
                  <div class="tab-wr min-block-center-info">
                    <!-- Nav tabs-->
                    <ul role="tablist" class="team-nav">
                      <li role="presentation" class="active"><a href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab">league team</a></li>
                      <li role="presentation"><a href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab">scrim team #1</a></li>
                      <li role="presentation"><a href="#tab3" aria-controls="tab3" role="tab" data-toggle="tab">scrim team #2</a></li>
                      <li role="presentation"><a href="#tab4" aria-controls="tab4" role="tab" data-toggle="tab">scrim team #3</a></li>
                    </ul>
                    <!-- Tab panes-->
                    <div class="tab-content tab-content__team">
                      <div id="tab1" role="tabpanel" class="tab-pane active fade in">
                        <div class="team-logo"><a href="team-page.html"><img src="img/team_LOGO.png" alt=""></a></div>
                        <div class="team-info">
                          <div class="team-title">cloud 9 gg</div>
                          <div class="team-tag">tag: c9</div>
                          <div class="team-dvsion"><span>3rd </span>dvsion 1</div>
                          <div class="team-bill">12 <span>- </span>5</div>
                        </div>
                        <div class="min-block__soc-section min-block__soc-section_in-teb">
                          <ul>
                            <li><a href=""><i class="soc-icon fa fa-facebook"></i></a></li>
                            <li><a href=""><i class="soc-icon fa fa-twitter"></i></a></li>
                            <li><a href=""><i class="soc-icon fa fa-globe"></i></a></li>
                          </ul>
                        </div>
                      </div>
                      <div id="tab2" role="tabpanel" class="tab-pane fade">
                        <div class="team-logo"><a href="team-page.html"><img src="img/team_LOGO.png" alt=""></a></div>
                        <div class="team-info">
                          <div class="team-title">cloud 13 gg</div>
                          <div class="team-tag">tag: c11</div>
                          <div class="team-dvsion"><span>2rd </span>dvsion 1</div>
                          <div class="team-bill">6 <span>- </span>8</div>
                        </div>
                        <div class="min-block__soc-section min-block__soc-section_in-teb">
                          <ul>
                            <li><a href=""><i class="soc-icon fa fa-facebook"></i></a></li>
                            <li><a href=""><i class="soc-icon fa fa-twitter"></i></a></li>
                            <li><a href=""><i class="soc-icon fa fa-globe"></i></a></li>
                          </ul>
                        </div>
                      </div>
                      <div id="tab3" role="tabpanel" class="tab-pane fade">
                        <div class="team-logo"><a href="team-page.html"><img src="img/team_LOGO.png" alt=""></a></div>
                        <div class="team-info">
                          <div class="team-title">cloud 9 gg</div>
                          <div class="team-tag">tag: c9</div>
                          <div class="team-dvsion"><span>1rd </span>dvsion 1</div>
                          <div class="team-bill">8 <span>- </span>5</div>
                        </div>
                        <div class="min-block__soc-section min-block__soc-section_in-teb">
                          <ul>
                            <li><a href=""><i class="soc-icon fa fa-facebook"></i></a></li>
                            <li><a href=""><i class="soc-icon fa fa-twitter"></i></a></li>
                            <li><a href=""><i class="soc-icon fa fa-globe"></i></a></li>
                          </ul>
                        </div>
                      </div>
                      <div id="tab4" role="tabpanel" class="tab-pane fade">
                        <div class="team-logo"><a href="team-page.html"><img src="img/team_LOGO.png" alt=""></a></div>
                        <div class="team-info">
                          <div class="team-title">cloud 9 gg</div>
                          <div class="team-tag">tag: c9</div>
                          <div class="team-dvsion"><span>3rd </span>dvsion 1</div>
                          <div class="team-bill">2 <span>- </span>5</div>
                        </div>
                        <div class="min-block__soc-section min-block__soc-section_in-teb">
                          <ul>
                            <li><a href=""><i class="soc-icon fa fa-facebook"></i></a></li>
                            <li><a href=""><i class="soc-icon fa fa-twitter"></i></a></li>
                            <li><a href=""><i class="soc-icon fa fa-globe"></i></a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="user-stattistic__wr clearfix">
            <div class="user-stattistic__min-block"><img src="img/stat-1.png" alt=""></div>
            <div class="user-stattistic__min-block"><img src="img/stat-1.png" alt=""></div>
            <div class="user-stattistic__min-block"><img src="img/stat-1.png" alt=""></div>
            <div class="user-stattistic__min-block"><img src="img/stat-1.png" alt=""></div>
          </div>
          <div class="user-graph"><img src="img/user_GRAPH.png" alt=""></div>
        </div>
      </div>
      <div tabindex="-1" role="dialog" class="modal fade pm-modal">
        <div class="modal-dialog modal-lg">
          <div class="modal-content modal-content_other">
            <div class="modal-header">
              <h4 class="modla-subject">subject</h4>
            </div>
            <div class="modal-body">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam et urna fermentum, tincidunt turpis in, suscipit ante. Duis rutrum
                maximus sapien in pretium. Sed vehicula risus ut metus porta lacinia. Nunc eu erat dictum, vulputate nisi vel, consectetur eros.
                Nulla fermentum sollicitudin aliquet. Etiam at gravida velit. Nulla facilisi. Etiam vel euismod tortor, sed varius nunc.
                Pellentesque non massa non felis tincidunt consectetur in id massa. Donec feugiat mi sed porta consectetur. Etiam at gravida
                velit.
              </p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default btn-lg pull-left btn-success modal-btn">send</button>
              <button type="button" data-dismiss="modal" aria-label="Close" class="btn btn-default btn-lg pull-right btn-danger modal-btn">close</button>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!-- end main Content-->
    <!-- Footer-->
    <footer class="main-footer">
      <div class="container">
        <div class="footer__top clearfix">
          <div class="footer__logo-wr"><img src="img/logo-footer.png" alt="" class="img-responsive"></div>
          <div class="footer__main-nav-wr">
            <nav class="footer__main-nav">
              <ul>
                <li><a href="">league</a></li>
                <li><a href="">watch</a></li>
                <li><a href="">stats</a></li>
                <li><a href="">about</a></li>
                <li><a href="">sponsors</a></li>
                <li><a href="">forum</a></li>
              </ul>
            </nav>
            <div class="row footer__other-links-wr">
              <div class="col-xs-3">
                <h3 class="footer-links-menu__title">about us</h3>
                <ul class="footer-links-menu__list">
                  <li><a href="">our mission</a></li>
                  <li><a href="">our team</a></li>
                  <li><a href="">our partners</a></li>
                  <li><a href="">our projects</a></li>
                </ul>
              </div>
              <div class="col-xs-3">
                <h3 class="footer-links-menu__title">partnership</h3>
                <ul class="footer-links-menu__list">
                  <li><a href="">press kit</a></li>
                  <li><a href="">sponsor kit</a></li>
                  <li><a href="">advertisement</a></li>
                  <li><a href="">team@divsionesports.com</a></li>
                </ul>
              </div>
              <div class="col-xs-3">
                <h3 class="footer-links-menu__title">careers</h3>
                <ul class="footer-links-menu__list">
                  <li><a href="">job openings</a></li>
                  <li><a href="">moderator application</a></li>
                  <li><a href="">jobs@divsionesports.com</a></li>
                </ul>
              </div>
              <div class="col-xs-3">
                <h3 class="footer-links-menu__title">contact us</h3>
                <ul class="footer-links-menu__list">
                  <li><a href="mailto:info@divsionesports.com">info@divsionesports.com</a></li>
                  <li>1 800 555 1234</li>
                  <li><strong>Dvsion Esports</strong><br>123 Main St.<br>City, ST, 01234</li>
                </ul>
              </div>
            </div>
            <div class="footer-soc-menu">
              <ul>
                <li><a href=""><i class="soc-icon fa fa-twitch"></i></a></li>
                <li><a href=""><i class="soc-icon fa fa-twitter"></i></a></li>
                <li><a href=""><i class="soc-icon fa fa-facebook"></i></a></li>
                <li><a href=""><i class="soc-icon fa fa-steam"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer__bottom">
          <div class="row">
            <div class="col-xs-7">
              <p class="copyright-block"><span class="copyright-block__main-text">dvsion e-sports </span>copyright © 2014-2015 all rights reserved</p>
            </div>
            <div class="col-xs-5 text-right">
              <ul class="footer-bottom__list-nav">
                <li><a href="">Terms of Use</a></li>
                <li><a href="">Privacy Policy</a></li>
                <li><a href="">DMCA Policy</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <div tabindex="-1" role="dialog" class="modal fade login-modal">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header header_top-line">
            <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true"><i class="sprite-close-black"></i></span></button>
            <h4 id="loginModalLabel" class="modal-title"><span class="modal-title-importnat-text">login</span>/register</h4>
          </div>
          <div class="modal-body">
            <form action="" class="login-form">
              <!-- .form-group-lg.has-success.has-feedback-->
              <div class="form-group-margin">
                <div class="form-group-lg form-group__d-tb">
                  <div class="input-group input-group-addon__wr"><span class="input-group-addon"><i class="sprite-user"></i></span>
                    <input type="text" aria-describedby="" placeholder="Login" class="form-control">
                  </div>
                  <!-- span.glyphicon.glyphicon-ok.form-control-feedback(aria-hidden='true')-->
                </div>
                <div class="form-group-lg form-group__d-tb has-error has-feedback">
                  <div class="input-group input-group-addon__wr"><span class="input-group-addon"><i class="sprite-lock-selected"></i></span>
                    <input type="password" aria-describedby="" placeholder="Password" class="form-control">
                  </div><span class="glyphicon glyphicon-remove form-control-feedback tooltip__wr"><span class="form-control__tooltip">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</span></span>
                </div>
              </div>
              <div class="form-group-margin clearfix">
                <div class="checkbox_custom remember-checkbox">
                  <input type="checkbox" value="option1" id="ch1">
                  <label for="ch1">Remember me</label>
                </div><a href="" class="lose-password-link">Lost your password?</a>
              </div>
              <div class="clearfix">
                <button type="button" data-toggle="modal" class="btn btn-default btn-lg pull-left modal-btn-success-hover modal-btn">login</button>
                <button type="button" data-toggle="modal" data-target=".registration-modal" class="btn btn-default btn-lg pull-right modal-btn-danger-hover modal-btn">register</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div tabindex="-1" role="dialog" class="modal fade registration-modal">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header header_top-line">
            <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true"><i class="sprite-close-black"></i></span></button>
            <h4 id="registrationModalLabel" class="modal-title">
              <div class="row">
                <div class="col-xs-6"><span class="modal-title-importnat-text">register</span>/sign up</div>
                <div class="col-xs-6"><span class="modal-title-importnat-text">why divsion?</span></div>
              </div>
            </h4>
          </div>
          <div class="modal-body">
            <form action="" class="login-form form-horizontal">
              <div class="row registration__form-wr">
                <div class="col-xs-6">
                  <div class="form-group-margin">
                    <div class="form-group-lg form-group__d-tb has-success has-feedback">
                      <div class="input-group input-group-addon__wr"><span class="input-group-addon"><i class="sprite-user"></i></span>
                        <input type="text" aria-describedby="" placeholder="Login" class="form-control">
                      </div><span aria-hidden="true" class="glyphicon glyphicon-ok form-control-feedback"></span>
                    </div>
                    <div class="form-group-lg form-group__d-tb has-success has-feedback">
                      <div class="input-group input-group-addon__wr"><span class="input-group-addon"><i class="sprite-lock"></i></span>
                        <input type="password" aria-describedby="" placeholder="PASSWORD" class="form-control">
                      </div><span aria-hidden="true" class="glyphicon glyphicon-ok form-control-feedback"></span>
                    </div>
                    <div class="form-group-lg form-group__d-tb has-success has-feedback">
                      <div class="input-group input-group-addon__wr"><span class="input-group-addon"><i class="sprite-lock-selected"></i></span>
                        <input type="password" aria-describedby="" placeholder="PASSWORD" class="form-control">
                      </div><span aria-hidden="true" class="glyphicon glyphicon-ok form-control-feedback"></span>
                    </div>
                  </div>
                  <div class="form-group-margin">
                    <div class="form-group-lg form-group__d-tb">
                      <div class="input-group input-group-addon__wr"><span class="input-group-addon"></span>
                        <input type="text" aria-describedby="" placeholder="FIRST NAME" class="form-control">
                      </div>
                    </div>
                    <div class="form-group-lg form-group__d-tb">
                      <div class="input-group input-group-addon__wr"><span class="input-group-addon"></span>
                        <input type="text" aria-describedby="" placeholder="LAST NAME" class="form-control">
                      </div>
                    </div>
                    <div class="form-group-lg form-group__d-tb">
                      <div class="input-group input-group-addon__wr"><span class="input-group-addon"></span>
                        <input type="text" aria-describedby="" placeholder="STEAM ID NUMBER" class="form-control">
                      </div>
                    </div>
                    <div class="row form-group-lg form-group-inputs">
                      <label class="control-label col-xs-3">D.O.B.</label>
                      <div class="col-xs-9">
                        <div class="row form-group__d-tb">
                          <div class="col-xs-4 custom-select__wr">
                            <select class="custom-select form-control">
                              <option value="">mon</option>
                              <option value="">2</option>
                            </select>
                          </div>
                          <div class="col-xs-8">
                            <div class="row row_without-padding">
                              <div class="col-xs-5">
                                <input type="text" aria-describedby="" placeholder="00" class="form-control">
                              </div>
                              <div class="col-xs-7">
                                <input type="text" aria-describedby="" placeholder="0000" class="form-control">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row form-group-lg form-group-inputs">
                      <label class="control-label col-xs-3">GENDER</label>
                      <div class="col-xs-9 custom-select__wr">
                        <select class="custom-select form-control">
                          <option value="">MALE</option>
                          <option value="">2</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group-lg form-group__d-tb has-success has-feedback">
                      <div class="input-group input-group-addon__wr"><span class="input-group-addon">@</span>
                        <input type="email" aria-describedby="" placeholder="EMAIL" class="form-control">
                      </div><span aria-hidden="true" class="glyphicon glyphicon-ok form-control-feedback"></span>
                    </div>
                    <div class="form-group-lg form-group__d-tb has-success has-feedback">
                      <div class="input-group input-group-addon__wr"><span class="input-group-addon">@</span>
                        <input type="email" aria-describedby="" placeholder="EMAIL" class="form-control">
                      </div><span aria-hidden="true" class="glyphicon glyphicon-ok form-control-feedback"></span>
                    </div>
                  </div>
                  <div class="form-group-margin clearfix">
                    <div class="checkbox_custom remember-checkbox">
                      <input type="checkbox" value="option1" id="ch2">
                      <label for="ch2">I have read and agree to the Terms & Conditions</label>
                    </div>
                  </div>
                </div>
                <div class="col-xs-6 registration-description">
                  <div class="clearfix">
                    <div class="form-group-margin">
                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
                      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
                    </div>
                    <div class="form-group-margin text-center"><a href="" class="btn btn-default btn-lg modal-btn-success-hover modal-btn">learn more</a></div>
                  </div>
                </div>
                <button type="button" data-toggle="modal" data-target=".email-confirmation-modal" class="btn btn-default btn-lg pull-right modal-btn-success-hover modal-btn registration-btn">continue</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div tabindex="-1" role="dialog" class="modal fade email-confirmation-modal">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header header_top-line">
            <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true"><i class="sprite-close-black"></i></span></button>
            <h4 id="emailConfirmationModalLabel" class="modal-title"><span class="modal-title-importnat-text">email </span>confirmation</h4>
          </div>
          <div class="modal-body">
            <p>Hey! We just sent you an email to confirm your account. Just follow the instructions of the email and you will be all set. In the meantime you can let us know what steam games you play. </p>
            <p><strong>Why Do this?</strong>This lets us better understand our userbase and try to give you exactly what you crave. A lot of you play a certain game? We will try to get that game on our servers and better cater to you our user.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default btn-lg pull-left modal-btn-danger-hover modal-btn">skip for now</button>
            <button type="button" class="btn btn-default btn-lg pull-right modal-btn-success-hover modal-btn">link games</button>
          </div>
        </div>
      </div>
    </div>
    <!-- end Footer-->
  </body>
</html>
